@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.image-thumbnail {
  $self: '.image-thumbnail';
  user-select: none;
  background-color: #d5d5d5;
  a {
    display: block;
    width: 100%;
    text-decoration: none;
  }
  img {
    display: block;
    width: 100%;
  }
  &--mode {
    &-limit {
      img {
        max-height: 500px;
      }
      #{$self}__empty {
        min-height: 180px;
      }
    }
    &-full {
      a {
        height: 100%;
      }
      img {
        height: 100%;
      }
    }
  }
  &--type {
    &-cover {
      img {
        object-fit: cover;
      }
    }
    &-contain {
      img {
        object-fit: contain;
      }
    }
  }
  @include dark-mode() {
    background-color: #111;
  }
}
