@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.text-title {
  display: block;
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  word-break: break-all;
  @include text-single-line();
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
