@use '../../scss/mixins';

.page-header {
  user-select: none;
  > h1 {
    margin: 0;
    font-size: 28px;
    font-family: var(--font-eng);
    letter-spacing: -.5px;
    color: var(--color-base);
    line-height: 1.15;
  }
  > p {
    margin: 0;
    font-size: 13px;
  }
}

.page-section {
  margin: 42px 0;
  font-size: 14px;
  blockquote {
    margin: 32px 0;
    padding: 16px 16px;
    border-left: 4px solid var(--color-sub);
    background: var(--color-edge);
  }
  > header {
    margin: 24px 0 16px;
    h1 {
      margin: 0;
      font-size: 20px;
      font-weight: 600;
      font-family: var(--font-eng);
      line-height: 1.15;
      letter-spacing: -.5px;
    }
    p {
      margin: 4px 0 0;
      font-size: 13px;
      line-height: 1.42;
    }
  }
  > h2 {
    margin: 24px 0 16px;
    font-size: 14px;
    line-height: 1.15;
    font-weight: 600;
    letter-spacing: -.5px;
  }
  > p {
    line-height: 1.42;
  }
}

.page-header + .page-section {
  margin-top: 24px;
}

.example {
  padding: 24px;
  background-color: var(--color-bg);
  box-sizing: border-box;
  border-radius: mixins.radius(72px);
  box-shadow:
    0 1px 24px mixins.mix-alpha(var(--color-base), 20%),
    0 0 0 .5px mixins.mix-alpha(var(--color-base), 10%);
  > * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  > hr {
    margin: 24px 0;
    display: block;
    border: none;
    border-top: 1px dashed mixins.mix-alpha(var(--color-base), 50%);
  }
  > pre {
    font-size: 12px;
    white-space: break-spaces;
    word-break: keep-all;
    word-wrap: break-word;
  }
}

.page-section-line {
  margin: 80px 0;
  padding: 0;
  height: 1px;
  border: none;
  border-top: 2px dashed var(--color-weak);
}

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(var(--grid-column, 1), 1fr);
  &--col-2 {
    --grid-column: 2;
  }
  &--col-3 {
    --grid-column: 3;
  }
  &--col-4 {
    --grid-column: 4;
  }
  &--small-gap {
    gap: 8px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  &--small-gap {
    gap: 10px;
  }
  &--h {
    &-start {
      justify-content: flex-start;
    }
    &-center {
      justify-content: center;
    }
    &-end {
      justify-content: flex-end;
    }
  }
  &--v {
    &-start {
      align-items: flex-start;
    }
    &-center {
      align-items: center;
    }
    &-end {
      align-items: flex-end;
    }
  }
}
