@import "../../../assets/scss/mixins";

.checklist-item {
  &__date {
    margin: 0;
    padding: 12px 0;
    background-color: var(--color-content-bg);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    strong {
      font-weight: 700;
      color: var(--color-primary);
    }
  }
  &__body {
    .checkbox-item {
      > label {
        position: relative;
        cursor: pointer;
        line-height: 1.42;
        > * {
          vertical-align: middle;
        }
      }
      .checkbox {
        display: inline-block;
        font-size: 0;
        margin: -4px 4px 0 0;
        input {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          margin: 0;
          padding: 0;
          cursor: pointer;
        }
        i {
          position: relative;
          display: block;
          background-color: #eee;
          border: 1px solid #999;
          border-radius: 2px;
          width: 18px;
          height: 18px;
          box-sizing: border-box;
          transition: box-shadow 200ms ease-out;
          &:before {
            content: '';
            position: relative;
            display: block;
            background: var(--color-key);
            width: 10px;
            height: 10px;
            left: 50%;
            top: 50%;
            border-radius: 1px;
            transition: transform 150ms ease-out;
            transform: translate(-50%, -50%) rotate(0deg) scale(0,0);
          }
        }
        input:focus + i {
          box-shadow: inset 0 -5px 10px var(--color-shadow-inner, #ddd), 0 0 0 1px var(--color-key);
          border-color: transparent;
        }
        input:checked + i:before {
          transform: translate(-50%, -50%) rotate(90deg) scale(1,1);
        }
      }
    }
  }
  @include dark-mode() {
    &__body {
      .checkbox-item {
        .checkbox {
          i {
            background-color: #383838;
            border-color: #666;
          }
          input:focus + i {
            --color-shadow-inner: #333;
          }
        }
      }
    }
  }
}
