@import "../../../assets/scss/mixins";

.checklist-progress {
  --height: 48px;
  width: 680px;
  height: var(--height);
  padding: 0 24px;
  border-radius: calc(var(--height) / 2);
  background-color: var(--color-bg);
  user-select: none;
  box-sizing: border-box;
  box-shadow: 0 -1px 12px 0 rgba(0,0,0,.15);
  &__wrap {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
  }
  &__edit {
    --button-icon-bgcolor: none;
    --button-icon-color: var(--color-key);
    --button-icon-stroke: 1.5px;
    --button-icon-size: var(--height);
    --button-icon-unit-size: 20px;
    margin: 0 6px 0 -4px;
    &[disabled] {
      --button-icon-color: var(--color-blur);
    }
  }
  &__graph {
    --graph-height: 10px;
    flex: 1;
    height: var(--graph-height);
    box-sizing: border-box;
    border-radius: calc(var(--graph-height) / 2);
    background-color: #e2e2e2;
    overflow: hidden;
    i {
      display: block;
      height: 100%;
      width: var(--percent, 0%);
      background-color: var(--color-key);
      transition: width 200ms ease-out, background-color 300ms ease-out;
      &.complete {
        background-color: var(--color-primary);
      }
    }
  }
  &__percent {
    display: block;
    font-style: normal;
    margin-left: 20px;
    font-family: var(--font-eng-circular);
    font-weight: 500;
    font-size: 13px;
  }

  @include dark-mode() {
    background-color: #191919;
    &__graph {
      background-color: #333;
    }
  }
}
