@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

$self: '.files-content';
$size-bottom: 68px;

.files-content {
  box-sizing: border-box;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    > div {
      display: flex;
      align-items: center;
      > * {
        &:nth-child(n+2) {
          margin-left: 8px;
        }
      }
    }
  }
  &__index {
    position: relative;
    margin: -10px 30px 30px;
    box-sizing: border-box;
    &:before {
      content: 'Drop files here.';
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba($color-key, .9);
      z-index: 5;
      box-sizing: border-box;
      font-family: $font-eng;
      font-size: 24px;
      font-weight: 200;
      color: #fff;
      opacity: 0;
      display: flex;
      pointer-events: none;
    }
    &.over {
      &:before {
        opacity: 1;
      }
    }
  }
  &__pending {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba($color-content-line, .5);
    box-sizing: border-box;
    margin: 0;
    padding: 12px;
    height: $size-bottom;
    background-color: var(--color-bg);
    > dt {
      display: flex;
      align-items: center;
    }
    > dd {
      display: flex;
      align-items: center;
      margin: 0;
    }
    div {
      margin-left: 8px;
    }
  }
  &__meta {
    margin: 0;
    font-family: $font-eng;
    color: var(--color-blur);
    font-size: 13px;
    font-weight: 600;
  }
  &__select-size {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      height: 30px;
      width: 1px;
      background-color: var(--color-blur);
      transform: translateY(-50%);
      opacity: .25;
    }
    > label {
      display: flex;
      align-items: center;
      padding: 8px 6px;
      cursor: pointer;
      > span {
        display: block;
        margin: 0 0 0 6px;
        font-size: 15px;
        font-weight: 400;
        font-family: $font-eng;
        letter-spacing: .5px;
      }
    }
  }

  &--full {
    $size-header: 54px;
    $size-footer: 68px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding: $size-header 0 $size-footer;
    #{$self} {
      &__header {
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: $size-header;
        padding: 0 20px;
        background-color: #eee;
      }
      &__index {
        margin: 0;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
        padding: 20px;
      }
      &__footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
      }
      &__pending {
        height: 100%;
      }
    }
    &#{$self}--pending {
      padding: 0;
    }
  }
  &--zero-padding {
    padding: 0;
  }

  @include dark-mode() {
    &__index {
      &:before {
        background-color: rgba($color-dark-key, .9);
      }
    }
    &__footer {
      margin: 0;
      border-color: rgba($color-dark-content-line, .5);
    }

    &--full {
      #{$self} {
        &__header {
          background-color: $color-base;
        }
      }
    }
  }
}
