@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.files-libs {
  background-color: var(--color-bg);
  border: 1px solid var(--color-content-line);

  &__body {
    box-sizing: border-box;
    padding: 20px;
  }
  &__bottom {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid rgba($color-content-line, .5);
    box-sizing: border-box;
    padding: 12px;
    > div {
      margin-left: 8px;
    }
  }

  @include dark-mode() {
    &__bottom {
      border-color: rgba($color-dark-content-line, .5);
    }
  }
}
