@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.rg-uploader {
  margin: 10px 0 0;
  background-color: #fff;

  .queue {
    .style-list {
      li {
        background: #fff !important;
        &.selected {
          &:after {
            border-color: var(--color-key) !important;
          }
        }
        .bd {
          color: var(--color-base) !important;
        }
      }
    }
    nav {
      button {
        i {
          color: #57595B !important;
        }
        &.on {
          i {
            color: var(--color-key) !important;
          }
        }
      }
    }
  }

  &-header {
    border-bottom-width: 1px !important;
    h1 {
      font-family: $font-eng-circular !important;
      color: var(--color-base) !important;
    }
    p {
      font-size: 13px !important;
      color: var(--color-blur) !important;
    }
    .select-size-tool {
      margin-top: 4px;
      span {
        font-size: 13px;
        font-family: $font-eng-circular;
        color: var(--color-base);
      }
    }
  }
  &-footer {
    border-top-width: 1px !important;
    .uploader-nav {
      user-select: none;
      span {
        color: var(--color-base);
      }
      svg {
        margin-right: 5px;
        width: 16px;
        height: 16px;
        color: var(--color-blur);
      }
    }
    .size-info {
      > p {
        color: var(--color-base);
      }
    }
  }

  @include dark-mode() {
    background-color: $color-dark-content-bg;
    border-color: $color-dark-content-line !important;

    .queue {
      background-color: rgba(#000, .4);
      .style-list {
        li {
          background: #444 !important;
          &.selected {
            &:after {
              //border-color: $color-dark-key !important;
            }
          }
        }
      }
      nav {
        button {
          i {
            color: #aaa !important;
          }
        }
      }
    }

    & &-body .preview .not-image {
      background: rgba(#000, .15) !important;
    }
    &-header {
      border-color: $color-dark-content-line !important;
    }
    &-footer {
      border-color: $color-dark-content-line !important;
      nav {
        > * {
          border-right: 1px solid mix($color-dark-content-line, $color-dark-content-bg, 75%) !important;
          &:hover {
            background-color: rgba(#000, .1) !important;
          }
        }
      }
    }
  }
}

.croppie-container {
  @include dark-mode() {
    background-color: #666 !important;
  }
}
