@use '../../../assets/scss/mixins';

.tabs {
  position: sticky;
  top: calc(var(--size-header-height) + 36px);
  left: 0;
  right: 0;
  display: grid;
  gap: 0;
  border-radius: var(--size-radius);
  box-shadow:
    var(--tabs-shadow-1, 0 0 0 1px rgb(0 0 0 / 5%)),
    var(--tabs-shadow-2, 0 2px 15px rgb(var(--color-base-rgb) / 20%));
  overflow: hidden;
  user-select: none;
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 0;
    font-size: 13px;
    padding: 8px 16px;
    color: var(--color-base);
    text-decoration: none;
    letter-spacing: -.25px;
    transition: filter 120ms ease-out;
    background-color: rgb(255 255 255);
    strong {
      display: block;
      flex: 1;
      font-weight: 600;
    }
    svg {
      display: block;
      opacity: 0;
      margin: -2px -4px -2px 0px;
      pointer-events: none;
      --icon-color: rgb(255 255 255);
      --icon-size: 20px;
      --icon-stroke: 2.4;
    }
    &:hover:not(.router-link-exact-active) {
      filter: brightness(90%);
    }
    &:active:not(.router-link-exact-active) {
      filter: brightness(95%);
    }
    &.router-link-exact-active {
      color: rgb(255 255 255);
      cursor: default;
      background: rgb(var(--color-weak-rgb) / 40%);
      svg {
        opacity: 1;
      }
    }
  }

  @include mixins.dark-mode() {
    --tabs-shadow-1: 0 0 0 1px rgb(255 255 255 / 10%);
    --tabs-shadow-2: 0 2px 15px rgb(0 0 0 / 20%);
    &__link {
      background-color: rgb(48 48 48);
      &.router-link-exact-active {
        background: rgb(40 40 40);
      }
    }
  }
}
