@use 'mixins';
@import url('https://assets.redgoose.me/markdown/index.css');

.redgoose-body {
  --markdown-color-base: var(--color-base);
  --markdown-color-title: var(--color-edge);
  --markdown-color-key: var(--color-key);
  --markdown-size-margin: 2rem;
  --markdown-size-img-margin: 4rem 0 2rem;
  --markdown-color-blockquote-line: var(--color-key);
  --markdown-color-blockquote-outline: hsl(0 0% 88%);
  --markdown-head-scroll-margin-top: calc(var(--size-header-height) + 30px);
  --markdown-size-side-padding: var(--size-side-padding);
  @include mixins.dark-mode() {
    --markdown-color-blockquote-outline: hsl(0 0% 24%);
    --markdown-color-code-bg: hsl(0 0% 8%);
  }
  :is(h1, h2, h3, h4, h5, h6) {
    @include mixins.responsive(tablet) {
      .anchor svg {
        color: var(--color-weak);
      }
    }
  }
  img {
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  }
  &.redgoose-body--popup {
    :is(img, pre, .grid-item) {
      position: static;
      transform: none;
      transform-origin: unset;
      cursor: default;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
