$dir: '../fonts';

// astro
@mixin font-loader-ortsa($weight-name, $weight)
{
  // 30(light), 45(regular), 60(medium), 75(bold), 90(black)
  @font-face {
    font-family: 'ortsa';
    font-style: normal;
    font-weight: $weight;
    font-display: swap;
    src: url('#{$dir}/ortsa/ortsaWeb-#{$weight-name}.woff2') format('woff2');
  }
}
@mixin font-loader-ortsa-italic($weight-name, $weight)
{
  @font-face {
    font-family: 'ortsa';
    font-style: italic;
    font-weight: $weight;
    font-display: swap;
    src: url('#{$dir}/ortsa/ortsaWeb-#{$weight-name}-italic.woff2') format('woff2');
  }
}
@include font-loader-ortsa('30', 300); // light
@include font-loader-ortsa('45', 400); // regular
@include font-loader-ortsa('60', 600); // medium
@include font-loader-ortsa('75', 700); // bold
@include font-loader-ortsa('90', 900); // black
@include font-loader-ortsa-italic('30', 300); // light italic
@include font-loader-ortsa-italic('45', 400); // regular italic
@include font-loader-ortsa-italic('60', 600); // medium italic
@include font-loader-ortsa-italic('75', 700); // bold italic
@include font-loader-ortsa-italic('90', 900); // black italic

// Pretendard
@mixin font-loader-pretendard($weight-name, $weight)
{
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: $weight;
    font-display: swap;
    src:
      local('Pretendard #{$weight-name}'),
      url('#{$dir}/pretendard/Pretendard-#{$weight-name}.subset.woff2') format('woff2');
  }
}

@include font-loader-pretendard('Thin', 100); // Thin
@include font-loader-pretendard('ExtraLight', 200); // ExtraLight
@include font-loader-pretendard('Light', 300); // Light
@include font-loader-pretendard('Regular', 400); // Regular
@include font-loader-pretendard('Medium', 500); // Medium
@include font-loader-pretendard('SemiBold', 600); // SemiBold
@include font-loader-pretendard('Bold', 700); // Bold
@include font-loader-pretendard('ExtraBold', 800); // ExtraBold
@include font-loader-pretendard('Black', 900); // black
