@use 'normalize';
@use 'fonts';
@use 'mixins';

:root {
  // color
  --color-bg: #fafbfc;
  --color-bg-rgb: 250 251 252;
  --color-base: #222;
  --color-base-rgb: 34 34 34;
  --color-invert: #fff;
  --color-invert-rgb: 255 255 255;
  --color-weak: #555;
  --color-weak-rgb: 85 85 85;
  --color-key: #b31f37;
  --color-key-rgb: 179 31 55;
  // size
  --size-content-body: 1280px;
  // font
  --font-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-eng: 'ortsa', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-console: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

// global elements
html, body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  background: var(--color-bg);
  color: var(--color-base);
}
body, button, input, textarea, select {
  font-family: var(--font-base);
}
a {
  color: var(--color-key);
}
code, kbd, pre, samp {
  font-family: var(--font-console);
}
::selection {
  background: var(--color-key);
  color: #fff;
}
