// color - light
$color-light-bg: #fafbfc;
$color-light-bg-rgb: 250 251 252;
$color-light-base: #222;
$color-light-base-rgb: 34 34 34;
$color-light-invert: #fff;
$color-light-invert-rgb: 255 255 255;
$color-light-weak: #666;
$color-light-weak-rgb: 102 102 102;
$color-light-key: #b31f37;
$color-light-key-rgb: 179 31 55;
$color-light-sub: #e77f32;
$color-light-sub-rgb: 231 127 50;
$color-light-code: #4f64ff;
$color-light-code-rgb: 79 100 255;
$color-light-success: #2fb31f;
$color-light-success-rgb: 47 179 31;
$color-light-error: #dd0000;
$color-light-error-rgb: 221 0 0;

// color - dark
$color-dark-bg: #282829;
$color-dark-bg-rgb: 40 40 41;
$color-dark-base: #ddd;
$color-dark-base-rgb: 221 221 221;
$color-dark-invert: #000;
$color-dark-invert-rgb: 0 0 0;
$color-dark-weak: #aaa;
$color-dark-weak-rgb: 170 170 170;
$color-dark-key: #1ccd5c;
$color-dark-key-rgb: 28 205 92;
$color-dark-sub: #3bd3ca;
$color-dark-sub-rgb: 59 211 202;
$color-dark-code: #9eff1a;
$color-dark-code-rgb: 158 255 26;
$color-dark-success: #2fb31f;
$color-dark-success-rgb: 47 179 31;
$color-dark-error: #dd0000;
$color-dark-error-rgb: 221 0 0;
