.progress-donut {
  circle {
    &:nth-child(1) {
      fill: transparent;
      stroke: var(--progress-donut-color-back, rgb(230 230 230));
    }
    &:nth-child(2) {
      fill: transparent;
      stroke: var(--progress-donut-color-fill, var(--color-key));
      transition: stroke-dashoffset 200ms ease-out;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
      stroke-dashoffset: var(--progress-donut-dash-offset);
    }
  }
}
