@use '../../../scss/mixins';

.article-info {
  h1 {
    margin: 0;
    font-size: 14px;
    line-height: 1.15;
    user-select: none;
  }
  .item {
    margin: 10px 0 0;
    padding: 12px;
    --item-height: 120px;
    &:deep(.item__thumbnail) {
      border-radius: mixins.radius(120px - (24px * 3));
    }
    &:deep(.item__body) {
      .title {
        font-size: 18px;
      }
      .description {
        margin: 4px 0 0;
      }
      .meta {
        margin: 10px 0 0;
      }
    }
  }
}

.change-nest {
  margin: 42px 0 0;
}
