@use '../../assets/scss/mixins';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--pagination-gap, 0);
}

.pagination-item {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: var(--pagination-item-size, 38px);
  height: var(--pagination-item-size, 38px);
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  background: transparent;
  @include mixins.button-touch-options(false);
  &:disabled {
    cursor: default;
  }
  > * {
    position: relative;
    z-index: 1;
  }
  > em {
    font-style: normal;
  }
  > svg {
    display: block;
    margin: 0 auto;
    --icon-size: 20px;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--color-key);
    z-index: 1;
    pointer-events: none;
    transform: translateY(100%);
    transition: transform .2s ease-out;
  }
  &--far,
  &--range {
    &:disabled {
      opacity: .25;
      > svg {
        --icon-color: var(--color-base);
      }
    }
    &:hover {
      > svg {
        --icon-color: var(--color-invert);
      }
      &:disabled {
        > svg {
          --icon-color: var(--color-base);
        }
        &:before {
          transform: translateY(100%);
        }
      }
    }
  }
  &--number {
    font-family: var(--font-eng);
    font-size: 15px;
    letter-spacing: -.5px;
    color: var(--color-base);
    font-weight: 500;
    &.active {
      color: var(--color-invert);
      &:before {
        transform: translateY(0);
      }
    }
    &:hover {
      color: var(--color-invert);
    }
    &:disabled:not(.active) {
      opacity: .25;
      color: var(--color-base);
      &:before {
        transform: translateY(100%);
      }
    }
  }
  &:hover {
    &:before {
      transform: translateY(0);
    }
  }
}
