# directories
/.idea
/node_modules
/.AppleDouble
/public/user

# files
.dockerignore
.DS_Store
.env.local
package-lock.json
yarn.lock
bun.lockb
cmd.sh
action.sh
.editorconfig
README.md
docker-compose.yml
vite.config.js
