@use '../../../scss/mixins.scss';

.url-uploader {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  width: calc(96vw - (40px * 2));
  max-width: 820px;
  box-sizing: border-box;
  &__header {
    padding: 24px 24px 16px 24px;
    user-select: none;
    h1 {
      margin: 0;
      line-height: 1.05;
      font-weight: 800;
      font-size: 24px;
      letter-spacing: -.5px;
    }
    p {
      margin: 4px 0 0;
      line-height: 1.05;
      color: var(--color-weak);
      font-size: 12px;
    }
  }
  &__input-url {
    border-block: .5px solid var(--color-weak);
    padding: 12px 24px 12px;
  }
  &__items {
    overflow: auto;
    min-height: 280px;
    max-height: 420px;
    padding: 24px;
    @include mixins.custom-scrollbar();
  }
  &__submit {
    border-top: .5px solid var(--color-weak);
    padding: 12px 24px;
    &.controller {
      margin: 0;
    }
  }
}
