@use '../../assets/scss/mixins';

.button-icon {
  display: flex;
  align-items: center;
  width: var(--button-size, 38px);
  height: var(--button-size, 38px);
  @supports (aspect-ratio: 1 / 1) {
    aspect-ratio: 1 / 1;
    height: unset;
  }
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  user-select: none;
  border-radius: var(--button-radius, 2px);
  background: var(--button-color-bg, rgb(222 222 222));
  box-shadow:
    var(--button-shadow-1, inset 0 2px 15px rgb(0 0 0 / 0%)),
    var(--button-shadow-2, 0 0 0 0 rgb(0 0 0 / 0%)),
    var(--button-shadow-3, 0 0 0 1px rgb(180 180 180 / 100%));
  transition: box-shadow 150ms ease-out, background-color 150ms ease-out, filter 150ms ease-out;
  &[type='button'],
  &[type='submit'],
  &[type='reset'] {
    display: block;
    -webkit-appearance: button;
    outline: 0;
  }
  &:hover:not([disabled]) {
    filter: brightness(95%);
  }
  &:focus-visible:not([disabled]) {
    outline: 0;
    box-shadow:
      var(--button-shadow-focus-1, inset 0 2px 15px rgb(0 0 0 / 10%)),
      var(--button-shadow-focus-2, 0 0 0 4px rgb(0 0 0 / 8%)),
      var(--button-shadow-focus-3, 0 0 0 1px rgb(150 150 150 / 100%));
  }
  &:active:not([disabled]) {
    box-shadow:
      var(--button-shadow-active-1, inset 0 2px 15px rgb(0 0 0 / 10%)),
      var(--button-shadow-active-2, 0 0 0 4px rgb(0 0 0 / 0%)),
      var(--button-shadow-active-3, 0 0 0 1px rgb(150 150 150 / 100%));
  }
  &__body {
    display: block;
    margin: 0 auto;
    width: var(--button-icon-size, 20px);
    height: var(--button-icon-size, 20px);
    color: var(--button-icon-color, var(--color-base));
    stroke-width: var(--button-icon-stroke, 2px);
  }
  &--disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  // color
  &--color {
    &-key {
      --button-color-bg: var(--color-key);
      --button-icon-color: rgb(255 255 255);
      --button-shadow-3: 0 0 0 1px rgb(var(--color-key-rgb) / 100%);
      --button-shadow-focus-1: inset 0 2px 15px rgb(0 0 0 / 0%);
      --button-shadow-focus-2: 0 0 0 4px rgb(var(--color-key-rgb) / 30%);
      --button-shadow-focus-3: 0 0 0 1px rgb(var(--color-key-rgb) / 100%);
      --button-shadow-active-1: inset 0 2px 15px rgb(0 0 0 / 30%);
      --button-shadow-active-3: 0 0 0 1px rgb(var(--color-key-rgb) / 100%);
    }
    &-sub {
      --button-color-bg: var(--color-sub);
      --button-icon-color: rgb(255 255 255);
      --button-shadow-3: 0 0 0 1px rgb(var(--color-sub-rgb) / 100%);
      --button-shadow-focus-1: inset 0 2px 15px rgb(0 0 0 / 0%);
      --button-shadow-focus-2: 0 0 0 4px rgb(var(--color-sub-rgb) / 30%);
      --button-shadow-focus-3: 0 0 0 1px rgb(var(--color-sub-rgb) / 100%);
      --button-shadow-active-1: inset 0 2px 15px rgb(0 0 0 / 20%);
      --button-shadow-active-3: 0 0 0 1px rgb(var(--color-sub-rgb) / 100%);
    }
    &-error {
      --button-color-bg: var(--color-error);
      --button-icon-color: rgb(255 255 255);
      --button-shadow-3: 0 0 0 1px rgb(var(--color-error-rgb) / 100%);
      --button-shadow-focus-1: inset 0 2px 15px rgb(0 0 0 / 0%);
      --button-shadow-focus-2: 0 0 0 4px rgb(var(--color-error-rgb) / 30%);
      --button-shadow-focus-3: 0 0 0 1px rgb(var(--color-error-rgb) / 100%);
      --button-shadow-active-1: inset 0 2px 15px rgb(0 0 0 / 30%);
      --button-shadow-active-3: 0 0 0 1px rgb(var(--color-error-rgb) / 100%);
    }
    &-weak {
      --button-color-bg: var(--color-weak);
      --button-icon-color: rgb(255 255 255);
      --button-shadow-3: 0 0 0 1px rgb(var(--color-weak-rgb) / 100%);
      --button-shadow-focus-1: inset 0 2px 15px rgb(0 0 0 / 0%);
      --button-shadow-focus-2: 0 0 0 4px rgb(var(--color-weak-rgb) / 30%);
      --button-shadow-focus-3: 0 0 0 1px rgb(var(--color-weak-rgb) / 100%);
      --button-shadow-active-1: inset 0 2px 15px rgb(0 0 0 / 30%);
      --button-shadow-active-3: 0 0 0 1px rgb(var(--color-weak-rgb) / 100%);
    }
  }

  @include mixins.dark-mode() {
    color-scheme: dark;
    --button-color-bg: rgb(60 60 60);
    --button-shadow-3: 0 0 0 1px rgb(255 255 255 / 15%);
    --button-shadow-focus-3: 0 0 0 1px rgb(255 255 255 / 30%);
    --button-shadow-active-3: 0 0 0 1px rgb(255 255 255 / 30%);
    &--color {
      &-key {
        --button-color-bg: var(--color-key);
        --button-shadow-3: 0 0 0 1px rgb(var(--color-key-rgb) / 100%);
        --button-shadow-focus-2: 0 0 0 4px rgb(var(--color-key-rgb) / 30%);
        --button-shadow-focus-3: 0 0 0 1px rgb(var(--color-key-rgb) / 100%);
        --button-shadow-active-3: 0 0 0 1px rgb(var(--color-key-rgb) / 100%);
      }
      &-sub {
        --button-color-bg: var(--color-sub);
        --button-shadow-3: 0 0 0 1px rgb(var(--color-sub-rgb) / 100%);
        --button-shadow-focus-2: 0 0 0 4px rgb(var(--color-sub-rgb) / 30%);
        --button-shadow-focus-3: 0 0 0 1px rgb(var(--color-sub-rgb) / 100%);
        --button-shadow-active-3: 0 0 0 1px rgb(var(--color-sub-rgb) / 100%);
      }
      &-error {
        --button-color-bg: var(--color-error);
        --button-shadow-3: 0 0 0 1px rgb(var(--color-error-rgb) / 100%);
        --button-shadow-focus-2: 0 0 0 4px rgb(var(--color-error-rgb) / 30%);
        --button-shadow-focus-3: 0 0 0 1px rgb(var(--color-error-rgb) / 100%);
        --button-shadow-active-3: 0 0 0 1px rgb(var(--color-error-rgb) / 100%);
      }
      &-weak {
        --button-color-bg: var(--color-weak);
        --button-shadow-3: 0 0 0 1px rgb(var(--color-weak-rgb) / 100%);
        --button-shadow-focus-2: 0 0 0 4px rgb(var(--color-weak-rgb) / 30%);
        --button-shadow-focus-3: 0 0 0 1px rgb(var(--color-weak-rgb) / 100%);
        --button-shadow-active-3: 0 0 0 1px rgb(var(--color-weak-rgb) / 100%);
      }
    }
  }
}
