.articles {
  display: grid;
  grid-template-columns: calc(100% - 150px - 40px) 150px;
  gap: 40px;
  &__index {
    &.items--theme-thumbnail {
      .item {
        --item-image-height: 14vw;
        --item-image-min-height: 120px;
        --item-image-max-height: 180px;
      }
    }
    &.items--theme-brick {
      .item {
        --item-image-height: 150px;
      }
    }
  }
  &__filter {}
  &__pagination {
    margin: 30px 0 0;
  }
  &__controller {
    margin-top: 40px;
  }
}

.filter {
  position: sticky;
  top: calc(var(--size-header-height, 42px) + 16px);
}
