@use '../../scss/mixins';

.page-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin: 0 0 30px;
  user-select: none;
  &__title {
    margin: 0;
    font-size: 32px;
    line-height: 1.05;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: var(--font-eng);
    color: var(--color-reverse);
  }
  &__description {
    margin: 0;
    font-size: 12px;
    letter-spacing: -.25px;
    color: var(--color-weak);
  }
  &__nav {
    display: flex;
    align-items: center;
  }
}
