@use '../../scss/mixins';

.page-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin: 0 0 30px;
  user-select: none;
  > nav {
    display: flex;
    align-items: center;
  }
}

.body {
  > h1 {
    margin: 0;
    font-size: 32px;
    line-height: 1.05;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: var(--font-eng);
    color: var(--color-reverse);
  }
  > p {
    margin: 2px 0 0;
    font-size: 12px;
    letter-spacing: -.25px;
    color: mixins.mix-color(var(--color-weak), var(--color-base), 50%);
  }
}
