@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.image-empty {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: mix($color-blur, #fff, 25%);
  &__icon {
    display: block;
    width: 36px;
    height: 36px;
    stroke-width: 1.25;
    color: #fff;
  }
  @include dark-mode() {
    background: mix($color-dark-blur, #000, 50%);
    &__icon {
      color: #aaa;
    }
  }
}
