@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.metas {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__item {
    display: block;
    font-family: $font-eng;
    font-size: 10px;
    color: var(--color-base);
    line-height: 1.25;
    &:after {
      content: ', ';
      padding-right: 3px;
    }
    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}
