@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

// color
$color-bg-base: mix(#000, #fff, 8%);
$color-bg-base-hover: mix(#000, #fff, 12%);
$color-bg-base-focus: rgba(#000, .15);
$color-bg-base-active: rgba(#fff, .75);
$color-bg-key: $color-key;
$color-bg-key-hover: mix(#000, $color-key, 10%);
$color-bg-key-focus: rgba($color-key, .25);
$color-bg-key-active: rgba(#ff3026, .5);
$color-bg-gray: mix(#000, #fff, 40%);
$color-bg-gray-hover: mix(#000, $color-bg-gray, 8%);
$color-bg-gray-focus: rgba(#000, .1);
$color-bg-gray-active: rgba(#fff, .3);

$color-dark-bg-base: mix(#fff, #000, 10%);
$color-dark-bg-base-hover: mix(#fff, #000, 8%);
$color-dark-bg-base-focus: rgba(#fff, .1);
$color-dark-bg-base-active: rgba(#000, .5);
$color-dark-bg-key: $color-dark-key;
$color-dark-bg-key-hover: mix(#000, $color-dark-key, 10%);
$color-dark-bg-key-focus: rgba($color-dark-key, .4);
$color-dark-bg-key-active: rgba(mix($color-dark-key, #000, 50%), .5);
$color-dark-bg-gray: mix(#fff, #000, 30%);
$color-dark-bg-gray-hover: mix(#fff, #000, 25%);
$color-dark-bg-gray-focus: rgba(#fff, .25);
$color-dark-bg-gray-active: rgba(#000, .3);

// size
$size-height-small: 32px;
$size-height-basic: 42px;
$size-height-large: 52px;
$size-text-small: 12px;
$size-text-basic: 16px;
$size-text-large: 20px;
$size-icon-small: 12px;
$size-icon-basic: 16px;
$size-icon-large: 22px;

// base
.button-basic {
  $self: '.button-basic';
  & {
    display: block;
    margin: 0;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: box-shadow 100ms ease-out, background-color 200ms ease-out;
    user-select: none;
    white-space: nowrap;
  }
  &[type='button'], &[type='submit'], &[type='reset'] {
    width: 100%;
    cursor: pointer;
    -webkit-appearance: button;
  }
  &[disabled] {
    opacity: .4;
    cursor: not-allowed;
  }
  &:hover:not([disabled]) {
    background-color: $color-bg-base-hover;
  }
  &:focus:not([disabled]) {
    outline: 0;
    box-shadow: 0 0 0 $size-focus+1 $color-bg-base-focus;
  }
  &:not([disabled]):active {
    box-shadow: inset 0 2px 30px $color-bg-base-active;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
  }
  &__label {
    display: block;
    font-style: normal;
    font-weight: 500;
  }

  // inline
  &--inline {
    display: inline-block;
    vertical-align: middle;
    &[type] {
      width: auto;
    }
  }

  // size
  & {
    height: $size-height-basic;
    padding: 0 20px;
    &__label {
      font-size: $size-text-basic;
      line-height: 1.4;
    }
    #{$self}__icon {
      width: $size-icon-basic;
      height: $size-icon-basic;
    }
    &--size-small {
      height: $size-height-small;
      padding: 0 12px;
      #{$self}__label {
        font-size: $size-text-small;
      }
      #{$self}__icon {
        width: $size-icon-small;
        height: $size-icon-small;
      }
    }
    &--size-large {
      height: $size-height-large;
      padding: 0 30px;
      #{$self}__label {
        font-size: $size-text-large;
      }
      #{$self}__icon {
        width: $size-icon-large;
        height: $size-icon-large;
      }
    }
  }

  // color
  & {
    background-color: $color-bg-base;
    color: var(--color-base);
    &--color {
      &-key {
        background-color: $color-bg-key;
        color: #fff;
        &:hover:not([disabled]) {
          background-color: $color-bg-key-hover;
        }
        &:focus:not([disabled]) {
          box-shadow: 0 0 0 $size-focus+1 $color-bg-key-focus;
        }
        &:active:not([disabled]) {
          box-shadow: inset 0 2px 30px $color-bg-key-active;
        }
      }
      &-gray {
        background-color: $color-bg-gray;
        color: #fff;
        &:hover:not([disabled]) {
          background-color: $color-bg-gray-hover;
        }
        &:focus:not([disabled]) {
          box-shadow: 0 0 0 $size-focus+1 $color-bg-gray-focus;
        }
        &:active:not([disabled]) {
          box-shadow: inset 0 2px 30px $color-bg-gray-active;
        }
      }
    }
  }

  // with icon
  &__icon {
    &.left {
      margin-right: 6px;
      margin-left: -2px;
    }
    &.right {
      margin-left: 6px;
      margin-right: -2px;
    }
  }

  // animation icon
  &--animation {
    #{$self}__icon {
      animation:spin 2s linear infinite;
      @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
      @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
      @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    }
  }

  @include dark-mode() {
    background-color: $color-dark-bg-base;
    &:hover:not([disabled]) {
      background-color: $color-dark-bg-base-hover;
    }
    &:focus:not([disabled]) {
      box-shadow: 0 0 0 $size-focus+1 $color-dark-bg-base-focus;
    }
    &:not([disabled]):active {
      box-shadow: inset 0 2px 30px $color-dark-bg-base-active;
    }
    &--color {
      &-key {
        background-color: $color-dark-bg-key;
        color: #fff;
        &:hover:not([disabled]) {
          background-color: $color-dark-bg-key-hover;
        }
        &:focus:not([disabled]) {
          box-shadow: 0 0 0 $size-focus+1 $color-dark-bg-key-focus;
        }
        &:active:not([disabled]) {
          box-shadow: inset 0 2px 30px $color-dark-bg-key-active;
        }
      }
      &-gray {
        background-color: $color-dark-bg-gray;
        &:hover:not([disabled]) {
          background-color: $color-dark-bg-gray-hover;
        }
        &:focus:not([disabled]) {
          box-shadow: 0 0 0 $size-focus+1 $color-dark-bg-gray-focus;
        }
        &:active:not([disabled]) {
          box-shadow: inset 0 2px 30px $color-dark-bg-gray-active;
        }
      }
    }
  }
}
