@use '../../scss/mixins';

.item {
  position: relative;
  display: flex;
  height: var(--item-height, 100px);
  box-sizing: border-box;
  background-color: var(--item-color-bg, var(--color-edge));
  box-shadow:
    var(--item-shadow-1, 0 0 0 .5px mixins.mix-alpha(var(--color-base), 20%)),
    var(--item-shadow-2, 0 2px 24px mixins.mix-alpha(var(--color-base), 15%));
  transition: box-shadow 160ms ease-out;
  min-width: 0;
  &__thumbnail {
    width: unset;
    height: 100%;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
  }
  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 16px;
    box-sizing: border-box;
    min-width: 0;
  }
  &__title {
    min-width: 0;
  }
  &__description {
    margin: 2px 0 0;
  }
  &__meta {
    margin: 4px 0 0;
  }
  &__nav {
    margin: 8px 0 0;
  }
  &__status {
    padding: 0 24px;
    min-width: 130px;
  }
  &--link {
    &:hover {
      --item-shadow-1: 0 0 0 2px #{mixins.mix-alpha(var(--color-key), 100%)};
      --item-shadow-2: 0 2px 24px #{mixins.mix-alpha(var(--color-base), 25%)};
    }
  }
}
