.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--empty-min-height, 320px);
  max-height: var(--empty-max-height, 420px);
  height: var(--empty-height, 35vw);
  user-select: none;
  &__wrap {
    text-align: center;
  }
  &__icon {
    margin: 0;
    --icon-size: 64px;
    --icon-color: var(--color-key);
    --icon-stroke-width: .5;
    svg {
      display: block;
      margin: 0 auto;
    }
  }
  &__title {
    margin: 16px 0 0;
    font-family: var(--font-eng);
    font-weight: 600;
    letter-spacing: -.25px;
    font-size: var(--empty-title-size, 24px);
    line-height: 1.1;
  }
  &__message {
    margin: 2px 0 0;
    font-size: 13px;
    color: var(--color-weak);
    line-height: 1.2;
  }
}
