@import "../../assets/scss/variables";

$size-item: 40px;
$size-font: 14px;

// paginate
.paginate {
  margin: 40px 0;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  > * {
    width: $size-item;
    height: $size-item;
    box-sizing: border-box;
  }
  button {
    display: block;
    margin: 0;
    padding: 0;
    color: $color-base;
    cursor: pointer;
    background: none;
    border: none;
    font-size: $size-font;
    outline: none;
    &:hover {
      background: rgba(#000, .05);
    }
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  strong {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-eng;
    font-size: $size-font;
    color: #fff;
    background: $color-key;
  }
  .disabled {
    opacity: 0;
    cursor: auto;
    &:hover {
      background: none;
    }
  }
  .icon {
    display: block;
    font-size: 1.25rem;
  }
  .dots {
    position: relative;
    margin: 0 -5px;
    pointer-events: none;
    .icon {
      font-size: 1rem;
      color: rgba($color-base, .5);
    }
  }
}