@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

// TODO: 삭제예정

// checkbox & radio unit
.form-check {
  $size: 20px;

  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  cursor: pointer;

  > i {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: $size;
    height: $size;
    border: 2px solid $color-form-line;
    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      left: 2px;
      right: 2px;
      top: 2px;
      bottom: 2px;
      background: $color-key;
      border-radius: $size-border-radius;
      transform: scale(0);
      transition: transform .1s ease-out;
    }
  }
  > input {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    &:checked + i {
      &:after {
        transform: scale(1);
      }
    }
    &:disabled + i {
      opacity: .6;
      cursor: not-allowed;
    }
  }

  &-checkbox {
    > i {
      border-radius: $size-border-radius;
    }
  }
  &-radio {
    > i {
      border-radius: 50%;
      &:after {
        border-radius: 50%;
      }
    }
  }
  &-disabled {
    opacity: .6;
    cursor: not-allowed;
  }
}

// with label
.form-check-label {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  cursor: pointer;
  padding: 2px 2px 2px 0;
  > span {}
  > em {
    display: inline-block;
    margin: 0 0 0 6px;
    vertical-align: middle;
    font-size: .875rem;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
  }

  &-disabled {
    opacity: .6;
    cursor: not-allowed;
  }
}
