@import "../../assets/scss/variables";

// common
$local-disabled-opacity: .5;

// color - light
$local-color-bg: var(--color-reverse);
$local-color-line: #a9a9a9;
$local-color-shadow: rgba(#000, .1);
$local-color-text-placeholder: #999;
$local-color-readonly-bg: mix($color-light, #fff, 80%);
$local-color-shadow1: rgba($color-key, 1);
$local-color-shadow2: rgba(#000, .1);
$local-color-error: var(--color-error);
$local-color-autofill-bg: rgba($color-key, .2);

// color - dark
$local-color-dark-bg: #393939;
$local-color-dark-line: #727272;
$local-color-dark-shadow: rgba(#000, .25);
$local-color-dark-text-placeholder: #777;
$local-color-dark-readonly-bg: #2f2f2f;
$local-color-dark-shadow1: rgba($color-dark-key, 1);
$local-color-dark-shadow2: rgba(#000, .25);
$local-color-dark-autofill-bg: rgba($color-dark-key, .2);

// text & select
$form-text-height-small: 36px;
$form-text-height-basic: 42px;
$form-text-height-large: 48px;
$form-text-text-small: 14px;
$form-text-text-basic: 16px;
$form-text-text-large: 18px;
$form-text-side-padding: 12px;

// checkbox & radio
$local-check-size: 20px;
$local-check-size-small: 16px;
$local-check-size-large: 24px;
$local-check-color-border: mix($local-color-line, #fff, 75%);
$local-check-color-dark-border: #666;
$local-check-color-bg: #f4f4f4;
$local-check-color-dark-bg: #393939;
$local-check-color-shadow-inner: rgba(0,0,0,.05);
$local-check-color-dark-shadow-inner: rgba(255,255,255,.0);
$local-check-color-shadow-inner-active: rgba(0,0,0,.15);
$local-check-color-dark-shadow-inner-active: rgba(0,0,0,.25);

