@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
@import "./local";

.form-text {
  & {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $local-color-line;
    border-radius: $size-border-radius;
    box-shadow: inset 0 2px 3px $local-color-shadow;
    background-color: $local-color-bg;
    color: var(--color-base);
  }
  &::-webkit-input-placeholder {
    color: $local-color-text-placeholder;
  }
  &:read-only {
    background-color: $local-color-readonly-bg;
  }
  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
  &:focus {
    box-shadow:
      0 0 0 $size-focus $local-color-shadow1,
      inset 0 2px 3px $local-color-shadow2;
    border-color: transparent;
    outline: 0;
  }

  // browser autofill
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0 1000px $local-color-autofill-bg inset !important;
    border: 1px solid $local-color-line;
  }

  // size
  @include form-size('normal', 'input');
  padding-left: .75rem;
  padding-right: .75rem;
  &-size-small {
    @include form-size('small', 'input');
    padding-left: .75rem;
    padding-right: .75rem;
  }
  &-size-large {
    @include form-size('large', 'input');
    padding-left: .75rem;
    padding-right: .75rem;
  }

  &-error {
    border-color: var(--color-error);
  }
  &-inline {
    display: inline-block;
    width: auto;
  }

  @include dark-mode() {
    & {
      background-color: $local-color-dark-bg;
      border-color: $local-color-dark-line;
      box-shadow: inset 0 1px 4px $local-color-dark-shadow;
    }
    &::-webkit-input-placeholder {
      color: $local-color-dark-text-placeholder;
    }
    &:read-only {
      background-color: $local-color-dark-readonly-bg;
      border-color: mix($local-color-dark-line, #000, 75%);
    }
    &:disabled {
      background-color: $local-color-dark-readonly-bg;
      border-color: mix($local-color-dark-line, #000, 75%);
    }
    &:focus {
      box-shadow:
        0 0 0 $size-focus $local-color-dark-shadow1,
        inset 0 2px 3px $local-color-dark-shadow2;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px $local-color-dark-autofill-bg inset !important;
      border-color: $local-color-dark-line;
      -webkit-text-fill-color: var(--color-base) !important;
    }
  }
}
