@use '../../assets/scss/variables';

.colors {
  box-sizing: border-box;
  ul {
    position: relative;
    margin: 0;
    padding: 50px 30px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    border-radius: 2px;
  }
  i {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 50%;
    box-sizing: border-box;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 50%;
    }
    &.color-light-bg { background-color: variables.$color-light-bg; }
    &.color-light-base { background-color: variables.$color-light-base; }
    &.color-light-invert { background-color: variables.$color-light-invert; }
    &.color-light-key { background-color: variables.$color-light-key; }
    &.color-light-sub { background-color: variables.$color-light-sub; }
    &.color-light-weak { background-color: variables.$color-light-weak; }
    &.color-light-code { background-color: variables.$color-light-code; }
    &.color-dark-bg { background-color: variables.$color-dark-bg; }
    &.color-dark-base { background-color: variables.$color-dark-base; }
    &.color-dark-invert { background-color: variables.$color-dark-invert; }
    &.color-dark-key { background-color: variables.$color-dark-key; }
    &.color-dark-sub { background-color: variables.$color-dark-sub; }
    &.color-dark-weak { background-color: variables.$color-dark-weak; }
    &.color-dark-code { background-color: variables.$color-dark-code; }
  }
  em {
    display: block;
    margin: 8px 0 0;
    font-size: 12px;
    font-style: normal;
    text-align: center;
  }
  &--light {
    ul {
      background-color: variables.$color-light-bg;
      border: 1px solid rgb(0 0 0 / 10%);
    }
    em {
      color: variables.$color-light-base;
    }
    i {
      &:after {
        border: 1px solid rgb(0 0 0 / 8%);
      }
    }
  }
  &--dark {
    ul {
      background-color: variables.$color-dark-bg;
      border: 1px solid rgb(255 255 255 / 10%);
    }
    em {
      color: variables.$color-dark-base;
    }
    i {
      &:after {
        border: 1px solid rgb(255 255 255 / 8%);
      }
    }
  }
}
