.side-filter {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  &__side {
    position: relative;
    order: var(--side-filter-side-order, 2);
    width: var(--side-filter-side-width, 160px);
    box-sizing: border-box;
    > aside {
      position: sticky;
      left: 0;
      top: calc(var(--side-filter-side-top, 0px) + 30px);
    }
  }
  &__body {
    flex: 1;
    order: var(--side-filter-body-order, 1);
    margin: var(--side-filter-body-margin, 0 30px 0 0);
    min-width: 0;
    box-sizing: border-box;
  }
}
