@use '../../../assets/scss/mixins';

.toolbar-item {
  position: relative;
  height: 100%;
  &__button {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0 16px;
    box-sizing: border-box;
    background: none;
    border: none;
    user-select: none;
    transition: filter 150ms ease-out;
    vertical-align: middle;
    border-radius: 0;
    background: rgb(222 222 222);
    @include mixins.button-touch-options(false);
    --icon-size: 15px;
    --icon-stroke: 2;
    --icon-color: var(--color-base);
    &:disabled {
      cursor: default;
    }
    span {
      display: flex;
      align-items: center;
      gap: 6px;
    }
    svg {
      display: block;
    }
    em {
      display: block;
      font-size: 12px;
      font-style: normal;
      line-height: normal;
      font-weight: 500;
      letter-spacing: -.25px;
      color: var(--color-base);
    }
    &.color {
      &--key {
        background: var(--color-key);
        --icon-color: var(--color-invert);
        em {
          color: var(--color-invert);
        }
      }
    }
  }
  &__children {
    position: relative;
    display: none;
    ul {
      position: absolute;
      margin: 0;
      padding: 0;
      z-index: 2;
      top: -2px;
      left: -16px;
      list-style: none;
      min-width: 150px;
      background: var(--color-bg);
      box-shadow: 0 2px 8px rgb(0 0 0 / 25%), 0 0 0 1px rgb(222 222 222);
      overflow: hidden;
      border-radius: 2px;
      &.right {
        left: unset;
        right: -16px;
      }
    }
    li {
      &:nth-child(n+2) {
        border-top: 1px solid rgb(0 0 0 / 15%);
      }
    }
    button, a {
      display: block;
      padding: 10px 32px 10px 16px;
      border-radius: 0;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: -.5px;
      line-height: 1.15;
      white-space: nowrap;
      box-sizing: border-box;
      transition: filter 160ms ease-out;
      color: var(--color-base);
      &:not(:disabled):hover {
        background: rgb(0 0 0 / 8%);
      }
    }
    button {
      width: 100%;
      text-align: left;
      @include mixins.button-touch-options(false);
      border: none;
      background: none;
    }
    a {
      text-decoration: none;
    }
  }
  &:hover {
    .toolbar-item__button:not(:disabled) {
      filter: brightness(105%);
    }
  }
  &.dropdown {
    .toolbar-item__button {
      cursor: default;
    }
    &:hover {
      .toolbar-item__children {
        display: block;
      }
    }
  }
  &:first-child {
    .toolbar-item__button {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
  &:last-child {
    .toolbar-item__button {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  @include mixins.dark-mode() {
    &__button {
      background: rgb(60, 60, 60);
      &.color {
        &--key {
          background: var(--color-key);
          --icon-color: var(--color-edge);
          em {
            color: var(--color-edge);
          }
        }
      }
    }
    &__children {
      ul {
        background: rgb(40 40 40);
        box-shadow: 0 1px 10px rgb(0 0 0 / 25%), 0 0 0 1px rgb(90 90 90);
      }
      li {
        &:nth-child(n+2) {
          border-color: rgb(255 255 255 / 5%);
        }
      }
      button, a {
        &:not(:disabled):hover {
          background: rgb(0 0 0 / 20%);
        }
      }
    }
    &:hover {
      .toolbar-item__button:not(:disabled) {
        filter: brightness(125%);
      }
    }
  }
}
