.button-body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  gap: 2px;
  &__icon {
    box-sizing: border-box;
    animation: var(--icon-animation, none);
    &:is(:first-child) {
      margin-right: 2px;
      margin-left: -2px;
    }
    &:is(:last-child) {
      margin-left: 2px;
      margin-right: -2px;
    }
  }
  &__label {
    display: block;
    font-style: normal;
    font-weight: var(--button-text-weight, 500);
    font-size: var(--button-text-size);
    line-height: normal;
    letter-spacing: -.25px;
    & + i {
      margin-left: 6px;
    }
  }
}
