@use '../../assets/scss/mixins';

.checklist-list {
  display: grid;
  grid-template-columns: calc(100% - 150px - 40px) 150px;
  gap: 40px;
  &__loading {
    --loading-width: auto;
    --loading-height: 420px;
  }
  &__paginate {
    margin: 40px 0 0;
  }
  &__graph {
    display: grid;
    align-content: center;
    justify-content: center;
    aspect-ratio: .85 / 1;
    > svg {
      display: block;
      box-sizing: border-box;
    }
    > p {
      margin: -5px 0 0;
      text-align: center;
      display: block;
      font-size: 11px;
      font-style: normal;
      font-family: var(--font-eng);
      color: var(--color-weak);
      line-height: 1;
      font-weight: 500;
      letter-spacing: -.5px;
      user-select: none;
    }
  }
}

.filter {
  position: sticky;
  top: calc(var(--size-header-height) + 16px);
}
