@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.index {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: $size-grid-col-gap;
}

.move {
  position: relative;
  display: block;
  margin: 0 -15px 0 0;
  padding: 0 22px;
  background: none;
  border: none;
  height: 100%;
  cursor: move;
  outline: none;
  font-size: 0;
  user-select: none;
  svg {
    display: block;
    width: 18px;
    height: 18px;
    stroke-width: 1.5;
    color: var(--color-blur);
  }
}

.sortable-ghost {
  opacity: .1;
}
