@import "./variables";
@import "./mixins";

// base
.#{$prefix}-button {
	$self: '.#{$prefix}-button';
	display: block;
	margin: 0;
	border-radius: 2px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	box-sizing: border-box;
	border: 1px solid transparent;

	&[type='button'], &[type='submit'], &[type='reset'] {
		width: 100%;
		cursor: pointer;
		-webkit-appearance: button;
	}
	&[disabled] {
		opacity: .6;
		cursor: not-allowed;
	}
	&-inline {
		display: inline-block;
		vertical-align: middle;
		&[type] {
			width: auto;
		}
	}

	// size
	@include form-size('button');

	// with icon
	> .material-icons {
		font-size: 22px;
		margin: -4px 0 -2px 5px;
		vertical-align: middle;
		&.solo {
			margin-left: 0;
		}
	}
	&-size-small > .material-icons {
		font-size: 16px;
	}
	&-size-large > .material-icons {
		font-size: 28px;
	}
}

// color
.#{$prefix}-button {
	transition: box-shadow .1s ease-out;
	background: $color-light;
	color: $color-base;
	&:focus {
		outline: 0;
		box-shadow: 0 0 0 $size-focus rgba($color-key, 1);
	}
	&:hover:not([disabled]) {
		background: mix(#000, $color-light, 5%);
	}
	&:not([disabled]):active {
		box-shadow: inset 0 2px 2px rgba(#000, .15);
	}

	&-color-key {
		background: $color-key;
		color: #fff;
		&:focus {
			box-shadow: 0 0 0 $size-focus+1 rgba($color-key, .3);
		}
		&:hover:not([disabled]) {
			background: mix(#000, $color-key, 5%);
		}
		&:active:not([disabled]) {
			box-shadow: inset 0 2px 2px rgba(#000, .1);
		}
	}

	&-color-gray {
		background: $color-blur;
		color: #fff;
		&:focus {
			box-shadow: 0 0 0 $size-focus+1 rgba($color-key, .25);
		}
		&:hover:not([disabled]) {
			background: mix(#000, $color-blur, 5%);
		}
		&:active:not([disabled]) {
			box-shadow: inset 0 2px 2px rgba(#000, .15);
		}
	}
}


// circle icon
.#{$prefix}-button-circle-icon {
	display: block;
	font-size: 0;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	span {
		display: block;
		height: 100%;
	}
	&-inline {
		display: inline-block;
		vertical-align: middle;
		span {
			display: inline-block;
		}
	}
	&-center {
		margin-left: auto;
		margin-right: auto;
	}

	// size
	width: 32px;
	height: 32px;
	i {
		line-height: 32px;
		font-size: 22px;
	}
	&-size-small {
		width: 24px;
		height: 24px;
		i {
			line-height: 24px;
			font-size: 16px;
		}
	}
	&-size-large {
		width: 42px;
		height: 42px;
		i {
			line-height: 42px;
			font-size: 30px;
		}
	}

	// color
	background: $color-light;
	color: $color-base;
	&-color-key {
		background: $color-key;
		color: #fff;
	}
	&-color-gray {
		background: $color-blur;
		color: #fff;
	}
}