@import "./variables";
@import "./mixins";
@import "~redgoose-content-body/dist/body.scss";

// popup mode
.popup-modal-basic {
  &, & > body {
    overflow: hidden;
  }
}

// article content body
.redgoose-body {
  .grid-item {
    --grid-item-columns: 1;
    --grid-item-gap: 10px;
    display: grid;
    grid-template-columns: repeat(var(--grid-item-columns, 1), 1fr);
    grid-gap: var(--grid-item-gap);
    margin: calc(var(--size-margin-vertical) * 2.5) auto var(--size-margin-vertical);
    width: 100%;
    > p {
      position: relative;
      margin: 0;
      box-sizing: border-box;
      padding-top: var(--padding-top, 100%);
      grid-column: var(--grid-column, auto);
      > img {
        position: absolute;
        margin: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
        transform: none;
        box-sizing: border-box;
        object-fit: cover;
      }
    }
    @for $i from 1 through 6 {
      &[data-mobile="#{$i}"] { --grid-item-columns: #{$i}; }
      > p[col="#{$i}"] {
        --padding-top: calc(100% / #{$i});
        --grid-column: span #{$i};
      }
    }
    @include responsive(tablet) {
      @for $i from 1 through 6 {
        &[data-tablet="#{$i}"] { --grid-item-columns: #{$i}; }
        > p[col-tablet="#{$i}"] {
          --padding-top: calc(100% / #{$i});
          --grid-column: span #{$i};
        }
      }
    }
    @include responsive(desktop) {
      @for $i from 1 through 6 {
        &[data-desktop="#{$i}"] { --grid-item-columns: #{$i}; }
        > p[col-desktop="#{$i}"] {
          --padding-top: calc(100% / #{$i});
          --grid-column: span #{$i};
        }
      }
    }
    @include responsive(desktop-large) {
      @for $i from 1 through 6 {
        &[data-desktop-large="#{$i}"] { --grid-item-columns: #{$i}; }
        > p[col-desktop-large="#{$i}"] {
          --padding-top: calc(100% / #{$i});
          --grid-column: span #{$i};
        }
      }
    }
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .grid-group {
    margin: calc(var(--size-margin-vertical) * 2.5) auto var(--size-margin-vertical);
    > .grid-item {
      margin-top: var(--grid-item-gap);
      margin-bottom: var(--grid-item-gap);
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &:not(.redgoose-body--popup) {
    img {
      cursor: pointer;
      transition: opacity 200ms ease-out;
      &:active {
        opacity: .75;
      }
    }
  }
}
