@import "./variables";
@import "./mixins";


// contents header
.rg-page-header {
	margin: 0 0 30px;
	display: flex;
	align-items: center;
	&__body {
		flex: 1;
	}
	&__title {
		margin: 0;
		padding-top: 1px;
		font-size: 1.875rem;
		line-height: 1;
		letter-spacing: -.5px;
		font-family: $font-eng;
		font-weight: 600;
	}
	&__description {
		margin: 5px 0 0;
		font-size: .8125rem;
		color: $color-blur;
	}
	&__nav {
		display: flex;
		align-items: center;
		padding-left: 15px;
		margin-right: -4px;
		> a {
			display: block;
		}
	}
}

// index
[class^='rg-index'] {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}
.rg-index {
	$self: '.rg-index';

	&-card {
		ul, &__ul {
			display: flex;
			flex-wrap: wrap;
			margin: -10px;
			&:after {
				content: '';
				display: table;
				clear: both;
			}
		}
		li, &__li {
			width: 50%;
			box-sizing: border-box;
			padding: 10px;
		}
	}
	&-thumbnail {}
	&-list {
		li {
			margin-top: 10px;
			&:first-child {
				margin-top: 0;
			}
		}
	}
	&-items {
		border-top: 1px solid $color-content-line;
		> dl {
			margin: 0;
			display: flex;
			align-items: center;
			min-height: 48px;
			border-bottom: 1px solid $color-content-line;
			> dt {
				width: 150px;
				padding: 12px 0 12px 15px;
				font-size: .875rem;
				font-weight: bold;
			}
			> dd {
				margin: 0 0 0 20px;
				padding: 12px 0;
				flex: 1;
				font-size: .875rem;
			}
		}
	}

	@include responsive(desktop-large) {
		&-card {
			li {
				width: 33.33333%;
			}
		}
	}
}

// item
.rg-item {
	&__subject {
		display: block;
		margin: 0;
		overflow: hidden;
		text-overflow:  ellipsis;
		white-space: nowrap;
		font-size: .875rem;
		line-height: 1.5;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		strong {
			color: $color-key;
		}
	}
	&__description {
		margin: 1px 0 0;
		font-size: 10px;
		line-height: 1.5;
		color: mix($color-blur, #fff, 60%);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__metas {
		display: block;
		margin: 4px 0 0;
		line-height: 1.2;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 11px;
		font-family: $font-eng;
		color: mix($color-blur, #fff, 100%);
		> span {
			display: inline-block;
			vertical-align: middle;
			&:after {
				content: ', ';
				padding-right: 5px;
			}
			&:last-child:after {
				display: none;
			}
		}
	}

	&-card {
		$size: 110px;
		position: relative;
		display: flex;
		align-items: center;
		box-shadow: $shadow-box;
		height: $size;
		background: #fff;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			pointer-events: none;
			transition: box-shadow .15s ease-out;
		}
		&__image {
			margin: 0;
			height: 100%;
			background: mix($color-blur, #fff, 30%);
			img {
				display: block;
				width: $size;
				height: 100%;
				object-fit: cover;
			}
		}
		&__body {
			flex: 1;
			padding: 10px 20px;
			min-width: 0;
			> nav {
				margin: 6px 0 0;
				font-size: 0;
				> a {
					display: inline-block;
					vertical-align: middle;
					margin: 0 0 0 10px;
					font-size: .75rem;
					color: $color-base;
					text-decoration: none;
					font-weight: bold;
					&:first-child {
						margin-left: 0;
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		&:hover:after {
			box-shadow: 0 0 0 3px $color-key;
		}
	}
	&-thumbnail {
		//
	}
	&-list {
		$self: '.rg-item';
		$size: 100px;
		position: relative;
		padding: 15px 15px;
		background: #fff;
		box-shadow: $shadow-box;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			pointer-events: none;
			transition: box-shadow .15s ease-out;
		}
		&__wrap {
			display: flex;
			align-items: center;
			> nav {
				> * {
					margin-left: 4px;
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
		&__image {
			margin: -5px 15px -5px 0;
			height: 100%;
			img {
				display: block;
				width: $size;
				height: $size;
				object-fit: cover;
			}
		}
		&__body {
			flex: 1;
			margin-top: -3px;
			> nav {
				margin: 5px 0 0;
				font-size: 0;
				> a {
					display: inline-block;
					vertical-align: middle;
					font-size: .75rem;
					font-weight: bold;
					color: $color-base;
					text-decoration: none;
					margin: 0 0 0 10px;
					&:hover {
						text-decoration: underline;
					}
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
		&:hover:after {
			box-shadow: 0 0 0 3px $color-key;
		}
	}

}

// bottom navigation
.rg-nav {
	margin: 30px -3px 0;
	text-align: right;
	font-size: 0;
	.rg-button {
		margin-left: 3px;
		margin-right: 3px;
	}
	> dl {
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		> dd {
			margin: 0;
		}
	}
}

// top navigation bar (category style)
.rg-nav-bar {
	margin: 0 0 15px;
	font-size: 0;
	ul {
		margin: 0 -8px;
		padding: 0;
		list-style: none;
	}
	li {
		display: inline-block;
	}
	a {
		display: inline-block;
		margin: -2px 0;
		padding: 4px 8px;
		color: $color-base;
		text-decoration: none;
		transition: background .3s ease-out;
		> * {
			font-size: .75rem;
			font-weight: 500;
		}
		> span {}
		> em {
			margin-left: 2px;
			font-style: normal;
			&:before {
				content: '(';
			}
			&:after {
				content: ')';
			}
		}
		&:hover {
			background: $color-light;
			border-radius: $size-border-radius;
		}
		&.active {
			color: $color-key;
		}
	}
}

// article body
.rg-article-body {
	margin: 30px 0 0;
	font-size: .875rem;
	line-height: 1.5;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 1rem;
	}
	h1 {
		font-size: 2rem;
		line-height: 1.2;
	}
	h2 {
		font-size: 1.75rem;
		line-height: 1.2;
	}
	h3 {
		font-size: 1.5rem;
		line-height: 1.2;
	}
	// TODO: 여기서부터..
}