@import "./variables";
@import "./mixins";


// popup mode
html.rg-mode-popup {
  &, body {
    overflow: hidden;
  }
}

// index
[class^='rg-index'] {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.rg-index {
  $self: '.rg-index';

  &-card {
    ul, &__ul {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
    li, &__li {
      width: 50%;
      box-sizing: border-box;
      padding: 10px;
    }
  }
  &-list {
    li {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &-thumbnail {
    ul, &__ul {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
    li, &__li {
      width: 33.33333%;
      box-sizing: border-box;
      padding: 10px;
    }
  }
  &-items {
    border-top: 1px solid $color-content-line;
    > dl {
      margin: 0;
      display: flex;
      align-items: center;
      min-height: 48px;
      border-bottom: 1px solid $color-content-line;
      > dt {
        width: 150px;
        padding: 12px 0 12px 15px;
        font-size: .875rem;
        font-weight: bold;
      }
      > dd {
        margin: 0 0 0 20px;
        padding: 12px 0;
        flex: 1;
        font-size: .875rem;
      }
    }
  }

  @include responsive(desktop-large) {
    &-card {
      li {
        width: 33.33333%;
      }
    }
    &-thumbnail {
      li {
        width: 25%;
      }
    }
  }
}

// article body
.rg-article-body {
  margin: 30px 0 0;
  font-size: .9375rem;
  line-height: 1.5;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    font-weight: 600;
  }
  h1, h2, h3 { margin: 2rem 0 1rem; }
  h4, h5, h6 { margin: 1.5rem 0 1rem; }
  h1 { font-size: 1.75rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.25rem; }
  h4 { font-size: 1rem; }
  h5 { font-size: .9375rem; }
  h6 { font-size: .875rem; }
  h1, h2, h3 {
    & + * > img:first-child,
    & + img {
      margin-top: 1rem;
    }
  }
  p { margin: 1rem 0; }
  ul, ol {
    margin: 1rem 0;
    padding-left: 1.125rem;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 3rem auto 1.5rem;
  }
  blockquote {
    position: relative;
    margin: 1rem 0;
    padding: 1rem 1rem 1rem calc(1rem + 4px);
    background: mix($color-light, #fff, 75%);
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background: $color-sub;
    }
    * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  hr {
    margin: 2rem 0;
    padding: 0;
    border: none;
    height: 1px;
    background: $color-content-line;
  }
  table {
    margin: 1rem 0;
    border-collapse: collapse;
    th, td {
      padding: .5rem 1rem;
      border: 1px solid $color-content-line;
    }
    thead {
      th, td {
        border-bottom-width: 2px;
      }
    }
  }
  a {
    word-break: break-all;
  }
  code {
    margin: 0 2px;
    white-space: nowrap;
    padding: 3px 5px;
    border-radius: 2px;
    background: mix($color-light, #fff, 75%);
    font-size: .75rem;
    color: $color-code;
  }
  pre {
    margin: 1rem 0;
    padding: 1rem;
    background: mix($color-light, #fff, 75%);
    font-size: 0;
    line-height: 1.5;
    overflow: auto;
    > code {
      margin: 0;
      padding: 0;
      background: none;
      white-space: pre;
      border-radius: 0;
      color: #222;
    }
  }
  input[type=checkbox] {
    margin-right: 3px;
  }
  iframe {
    display: block;
    margin: 1.5rem auto;
    max-width: 100%;
  }
  .iframe {
    margin: 1.5rem 0;
    position: relative;
    padding-bottom: 56.25%; /*16:9*/
    height: 0;
    overflow: hidden;
    iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
  embed {
    display: block;
    max-width: 100%;
    margin: 2rem auto 1rem;
    background: #eee;
  }

  > * {
    &:first-child {
      margin-top: 0;
      *:first-child {
        margin-top: 0;
      }
    }
    &:last-child {
      margin-bottom: 0;
      *:last-child {
        margin-bottom: 0;
      }
    }
  }
}
