@import "./variables";

// circular-std
$dir: '/fonts/circular/';
@mixin font-loader-circular($weight-name, $weight)
{
  @font-face {
    font-family: 'circular';
    font-style: normal;
    font-weight: $weight;
    src: local('Circular'), local('Circular Std #{$weight-name}'),
      url('#{$dir}/CircularStd-#{$weight-name}.woff2') format('woff2');
  }
  @font-face {
    font-family: 'circular';
    font-style: italic;
    font-weight: $weight;
    src: local('Circular'), local('Circular Std #{$weight-name} Italic'),
      url('#{$dir}/CircularStd-#{$weight-name}Italic.woff2') format('woff2');
  }
}
@include font-loader-circular('Book', 400);
@include font-loader-circular('Medium', 500);
@include font-loader-circular('Bold', 600);
@include font-loader-circular('Black', 700);
