@import "./variables";
@import "./mixins";

// field
.form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
  > legend {
    font-size: 0;
    visibility: hidden;
  }
  &--legend {
    font-size: unset;
    visibility: unset;
  }
}
.form-field {
  display: flex;
  align-items: center;
  user-select: none;
  margin-left: -3px;
  margin-right: -3px;
  > * {
    margin: 0 3px;
  }
  > label {
    cursor: pointer;
  }
}
label.form-field {
  cursor: pointer;
}
.form-help {
  margin: 5px 0 0;
  font-size: 13px;
  color: var(--color-blur);
  &--error {
    color: var(--color-error);
  }
  > .error {
    color: var(--color-error);
  }
}
