@import "./variables";
@import "./mixins";


// contents header
.#{$prefix}-page-header {
	margin: 0 0 2rem;
	display: flex;
	&__body {
		flex: 1;
	}
	&__title {
		margin: 0;
		padding-top: 1px;
		font-size: 1.875rem;
		line-height: 1;
		letter-spacing: .5px;
		font-family: $font-eng;
		font-weight: 600;
	}
	&__description {
		margin: 5px 0 0;
		font-size: .8125rem;
		color: $color-blur;
	}
	&__nav {

	}
}


// index (card style)
.rg-index-card {
	border: 1px solid #000;
}
