@import "variables";

// typo - description
@mixin typo-text-body() {
	margin: 0 0 1rem;
	font-size: .875rem;
}

// set form size
@mixin form-size($size, $type) {
	@if $size == 'small' {
		padding: .3125rem .75rem;
		font-size: .8125rem;
	} @else if $size == 'large' {
		padding: .625rem 1rem;
		font-size: 1.125rem;
	} @else {
		padding: .4375rem 1.25rem;
		font-size: .9375rem;
		line-height: 1.5;
	}
}

// responsive
@mixin responsive($range)
{
	@if $range == desktop
	{
		@media (min-width: #{$size-desktop}) { @content; }
	}
	@else if $range == desktop-large
	{
		@media (min-width: #{$size-desktop-large}) { @content; }
	}
}
// retina display
@mixin retina()
{
	@media (-webkit-min-device-pixel-ratio: 2) { @content; }
}
