@import "./variables";
@import "./mixins";

// section title
.rg-section-title {
	margin: 0 0 1rem;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1;
}

// text body
.rg-text-body {
	@include typo-text-body();
}
