// string
$path-image: 'images/';


// color
$color-bg: #fafbfc;
$color-base: #222;
$color-key: #b31f37;
$color-primary: #1e65d7;
$color-blur: #555;
$color-light: #e8e9eb;
$color-content-bg: #f4f4f4;
$color-content-line: #ddd;
$color-success: #2fb31f;
$color-error: #dd0000;
$color-code: #4f64ff;

$color-dark-bg: #282829;
$color-dark-base: #ddd;
$color-dark-key: #1ccd5c;
$color-dark-primary: #3bd3ca;
$color-dark-blur: #aaa;
$color-dark-content-bg: #383838;
$color-dark-content-line: #4b4b4b;
$color-dark-code: #9eff1a;


// size
$size-min: 1000px;
$size-desktop: 1024px;
$size-desktop-large: 1440px;
$size-container: 1200px;
$size-border-radius: 2px;
$size-focus: 2px;
$size-header-height: 42px;
$size-grid-col-gutter: 8px;


// etc
$shadow-box: 0 1px 20px rgba(#000, .1);


// font-family
$font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-eng: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-eng-circular: 'circular', sans-serif;
$font-console: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
