// string
$prefix: 'rg';
$path-image: 'images/';


// color
$color-base: #222;
$color-key: #b31f37;
$color-sub: #1f60b3;
$color-bar-background: #2c2929;
$color-blur: #555;
$color-light: #eff0f2;
$color-form-line: #aaa;
$color-content-line: #ddd;
$color-success: #2fb31f;
$color-error: #dd0000;


// size
$size-min: 768px;
$size-desktop: 1024px;
$size-desktop-large: 1280px;
$size-container: 1200px;
$size-border-radius: 2px;
$size-focus: 2px;
$size-header-height: 50px;


// font-family
$font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-eng: Helvetica, Arial, sans-serif;
$font-console: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;