@use '../../../assets/scss/mixins';

.cropper {
  position: relative;
  box-sizing: border-box;
  &:deep(.cr-slider-wrap) {
    position: absolute;
    left: 50%;
    bottom: 48px;
    z-index: 2;
    background: var(--cropper-slider-color-bg, var(--color-bg));
    transform: translateX(-50%);
    width: var(--cropper-slider-width, 50%);
    margin: 0;
    padding: 0 32px;
    height: var(--cropper-slider-height, 44px);
    box-sizing: border-box;
    display: grid;
    align-items: center;
    border-radius: calc(var(--cropper-slider-height, 44px) * .5);
    box-shadow: 0 2px 16px rgb(var(--color-base-rgb) / 25%), 0 0 0 1px rgb(var(--color-base-rgb) / 10%);
  }
  &:deep(.cr-slider-wrap .cr-slider) {
    -webkit-appearance: none;
    display: block;
    margin: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 0;
    transition: opacity .2s;
  }
  &:deep(.cr-slider-wrap .cr-slider::-webkit-slider-runnable-track) {
    -webkit-appearance: none;
    background: rgb(var(--color-base-rgb) / 25%);
    border-radius: 2px;
    height: 4px;
  }
  &:deep(.cr-slider-wrap .cr-slider::-webkit-slider-thumb) {
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-key);
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgb(var(--color-base-rgb) / 20%);
  }
}
