@use '../../../assets/scss/mixins';

.information {
  margin-bottom: 24px;
  background-color: var(--color-invert);
  padding: 10px;
  box-shadow: 0 0 0 1px hsl(0 0% 0% / 10%), 0 2px 15px hsl(0 0% 0% / 12%);
  border-radius: 4px;
  &__card {
    box-shadow: none;
    background-color: transparent;
    &:deep(.item__thumbnail) {
      border-radius: var(--size-radius);
    }
  }
  @include mixins.dark-mode() {
    background-color: hsl(0 0% 12%);
    box-shadow: 0 0 0 1px hsl(0 0% 0% / 25%), 0 2px 15px hsl(0 0% 0% / 20%);
  }
}
