@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.index {
  &--grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: $size-grid-col-gap;
  }
  &--brick {
    display: block;
    font-size: 0;
    column-count: 4;
    column-gap: $size-grid-col-gap;
    row-gap: $size-grid-col-gap;
    > * {
      display: inline-block;
      width: 100%;
      margin-bottom: $size-grid-col-gap;
    }
  }
}
