@import "../../assets/scss/variables";

$self: '.page-header';

.page-header {
  margin: 0 0 30px;

  &__prefix {
    display: block;
    margin: 0 0 -4px;
    color: $color-key;
    font-size: .75rem;
    font-weight: 600;
  }
  &__title {
    margin: 0;
    padding-top: 2px;
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: -.75px;
    font-weight: 700;
  }
  &__description {
    margin: -2px 0 0;
    font-size: .6875rem;
    color: $color-blur;
    letter-spacing: -.25px;
  }

  &--eng {
    #{$self} {
      &__title {
        padding-top: 0;
        font-family: $font-eng-circular;
        letter-spacing: -1px;
        font-weight: 800;
      }
      &__description {
        margin-top: -2px;
      }
    }
  }
}
