@use '../../../../assets/scss/mixins';

.editor {
  margin: 0;
  padding: 0;
  border: none;
  > legend {
    font-size: 0;
  }
  &__body {
    margin: 10px 0 0;
  }
  &__manager {
    min-height: 320px;
  }
}
