@use '../../scss/mixins';

.preview-modal {
  --modal-window-width: calc(100dvw - (var(--size-side-padding) * 2));
  --modal-window-max-width: var(--size-content-body);
  --modal-window-max-height: 80dvh;
}
.preview {
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: 6px;
  &__content {
    padding: 40px;
    box-sizing: border-box;
    overflow: auto;
    @include mixins.custom-scrollbar();
  }
}
