@use '../../assets/scss/mixins';

.page-header {
  user-select: none;
  > h1 {
    margin: 0;
    font-size: 28px;
    font-family: var(--font-eng);
    letter-spacing: -.5px;
    color: var(--color-sub);
    line-height: 1.15;
  }
  > p {
    margin: 0;
    font-size: 12px;
    color: var(--color-weak);
  }
}

.page-section {
  margin: 42px 0;
  > header {
    margin: 24px 0 16px;
    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: 600;
      font-family: var(--font-eng);
      line-height: 1.25;
    }
    p {
      margin: 2px 0 0;
      font-size: 12px;
      line-height: 1.25;
      color: var(--color-weak);
    }
  }
}

.page-header + .page-section {
  margin-top: 32px;
}

.example {
  padding: 20px;
  background-color: var(--color-bg);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 1px 15px rgb(0 0 0 / 10%), 0 0 0 1px rgb(0 0 0 / 5%);
  > * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  > hr {
    margin: 24px 0;
    display: block;
    border: none;
    border-top: 1px dashed rgb(0 0 0 / 30%);
  }
  > pre {
    font-size: 12px;
    white-space: break-spaces;
    word-break: keep-all;
    word-wrap: break-word;
  }
  @include mixins.dark-mode() {
    box-shadow: 0 1px 15px rgb(0 0 0 / 30%), 0 0 0 1px rgb(85 85 85 / 50%);
    > hr {
      border-color: rgb(255 255 255 / 30%);
    }
  }
}

.page-section-line {
  margin: 80px 0;
  padding: 0;
  height: 1px;
  border: none;
  border-top: 1px dashed rgb(0 0 0 / 20%);
  @include mixins.dark-mode() {
    border-color: rgb(255 255 255 / 20%);
  }
}

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(var(--grid-column, 1), 1fr);
  &--col-2 {
    --grid-column: 2;
  }
  &--col-3 {
    --grid-column: 3;
  }
  &--col-4 {
    --grid-column: 4;
  }
  &--small-gap {
    gap: 8px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  &--small-gap {
    gap: 10px;
  }
  &--h {
    &-start {
      justify-content: flex-start;
    }
    &-center {
      justify-content: center;
    }
    &-end {
      justify-content: flex-end;
    }
  }
  &--v {
    &-start {
      align-items: flex-start;
    }
    &-center {
      align-items: center;
    }
    &-end {
      align-items: flex-end;
    }
  }
}
