@use '../../assets/scss/mixins';

.items {
  display: grid;
  grid-template-columns: repeat(var(--items-column, 1), 1fr);
  gap: var(--items-gap, 16px);
  &--theme {
    &-card {
      --items-column: 2;
    }
    &-thumbnail {
      --items-column: 3;
    }
    &-brick {
      --items-column: 3;
      align-items: start;
      @supports (grid-template-rows: masonry) {
        grid-template-rows: masonry;
      }
    }
  }
  @include mixins.responsive(desktop-large) {
    &--theme {
      &-card {
        --items-column: 3;
      }
      &-thumbnail {
        --items-column: 4;
      }
      &-brick {
        --items-column: 4;
      }
    }
  }
}
