@use '../../../assets/scss/mixins';

.card {
  &:deep(.item__body) {
    padding-left: 0;
  }
}

.move {
  display: block;
  margin: 0;
  padding: 0;
  width: 72px;
  background: none;
  border: none;
  @include mixins.button-touch-options(false);
  --icon-size: 20px;
  --icon-stroke-width: 1.5;
  --icon-color: var(--color-weak);
  svg {
    display: block;
    margin: 0 auto;
  }
  &:active {
    --icon-color: var(--color-key);
  }
}

.items {
  display: block;
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(var(--items-column, 1), 1fr);
    gap: var(--items-gap, 16px);
  }
  &:deep([draggable]) {
    user-select: auto;
    -webkit-user-drag: element;
  }
  &:deep(.sortable-ghost) {
    outline: 2px dashed var(--color-sub);
    outline-offset: 0;
    > * {
      opacity: .1;
    }
  }
}
