@use '../../../scss/mixins.scss';

.extra {
  margin-top: 48px;
}

.input-thumbnail-size {
  --input-width: 80px;
}

.input-file-size {
  --input-width: 110px;
}

.target {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0 8px;
  small {
    display: block;
    font-size: 11px;
    letter-spacing: -.5px;
    line-height: 1.15;
    user-select: none;
    font-weight: 600;
    &.label-on {
      color: var(--color-sub);
    }
  }
}
