@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.index {
  &--grid {
    display: grid;
    grid-template-columns: repeat(var(--index-column, 1), 1fr);
    grid-gap: var(--index-gap, 16px);
  }
  &--brick {
    display: block;
    font-size: 0;
    column-count: var(--index-column, 3);
    column-gap: var(--index-gap, 16px);
    row-gap: var(--index-gap, 16px);
    > * {
      display: inline-block;
      width: 100%;
      margin-bottom: var(--index-gap, 16px);
    }
  }
}
