@use '../../assets/scss/mixins';

.progress {
  background: var(--color-sub);
  user-select: none;
  :is(.spinner) {
    --spinner-width: 6px;
    :is(circle) {
      stroke: hsl(0 0% 100%);
    }
  }
  &__wrap {
    display: grid;
  }
  &__spinner {
    overflow: hidden;
  }
  &__body {
    margin: 0;
    color: hsla(0 0% 100% / 75%);
    font-weight: 500;
  }
  &--thumbnail {
    .progress {
      &__wrap {
        place-content: center;
        aspect-ratio: 1 / 1;
      }
      &__spinner {
        display: flex;
        justify-content: center;
        --spinner-size: 30px;
      }
      &__body {
        margin: 16px 0 0;
        font-size: 11px;
      }
    }
  }
  &--list {
    .progress {
      &__wrap {
        grid-template-columns: auto 1fr;
      }
      &__spinner {
        display: grid;
        place-content: center;
        width: 96px;
        height: 96px;
        background: hsl(0 0% 0% / 5%);
        --spinner-size: 30px;
      }
      &__body {
        display: grid;
        align-items: center;
        padding: 0 0 0 16px;
        font-size: 13px;
      }
    }
  }
}
