@use '../../assets/scss/mixins';

.files-manager {
  --tab-height: 44px;
  --color-shape-bg: rgb(240 240 240);
  box-sizing: border-box;
  position: relative;
  background: var(--color-bg);
  &__body {
    box-sizing: border-box;
  }
  &__no-tab {
    display: grid;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    color: var(--color-weak);
    user-select: none;
  }
  &--full {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100%;
  }
  @include mixins.dark-mode() {
    --color-shape-bg: rgb(50 50 50);
    &__tabs {
      border-color: rgb(255 255 255 / 20%);
    }
  }
}
