@use '../../assets/scss/mixins';

.tabs {
  display: flex;
  justify-content: space-between;
  height: var(--tab-height, 44px);
  box-sizing: border-box;
  background: rgb(255 255 255);
  &__contents {
    display: flex;
    button {
      display: block;
      margin: 0;
      padding: 0 20px;
      height: 100%;
      background: none;
      border: none;
      font-size: 0;
      box-sizing: border-box;
      border-radius: 0;
      @include mixins.button-touch-options(false);
      --icon-size: 16px;
      --icon-color: var(--color-base);
      --icon-stroke-width: 2.4;
      span {
        display: flex;
        align-items: center;
        gap: 6px;
      }
      svg {
        display: block;
        margin: 0 0 0 -2px;
      }
      em {
        display: block;
        font-style: normal;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        color: var(--color-base);
      }
      &:active,
      &:hover {
        background: rgb(var(--color-base-rgb) / 8%);
      }
      &:disabled {
        background: var(--color-key);
        cursor: default;
        --icon-color: rgb(255 255 255);
        em {
          color: rgb(255 255 255);
        }
      }
    }
  }
  &__functions {
    display: flex;
    button {
      display: block;
      margin: 0;
      padding: 0;
      height: 100%;
      aspect-ratio: 1/1;
      border-radius: 0;
      font-size: 0;
      box-sizing: border-box;
      background: none;
      border: none;
      @include mixins.button-touch-options(false);
      --icon-size: 16px;
      --icon-color: var(--color-base);
      --icon-stroke-width: 2.8;
      &:active,
      &:hover {
        background: rgb(var(--color-base-rgb) / 8%);
      }
      &.close {
        --icon-size: 20px;
      }
    }
  }

  @include mixins.dark-mode() {
    background: rgb(32 32 32);
    &__contents {
      button {
        &:active,
        &:hover {
          background: rgb(0 0 0 / 20%);
        }
        &:disabled {
          background: var(--color-key);
        }
      }
    }
    &__functions {
      button {
        &:active,
        &:hover {
          background: rgb(0 0 0 / 20%);
        }
      }
    }
  }
}
