@use '../../scss/mixins';

.container {
  margin-top: 24px;
  min-height: 360px;
}

.content {
  container-type: inline-size;
}

.items {
  &.theme--card {
    @container (min-width: 560px) {
      --items-column: 2;
    }
  }
}

.paginate {
  margin-top: 36px;
}

.controller {
  margin-top: 78px;
}
