@use '../../assets/scss/mixins';

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999999;
  overflow: auto;
  box-sizing: border-box;
  cursor: zoom-out;
  background-color: var(--modal-color-bg, rgb(var(--color-bg-rgb) / 75%));
  display: flex;
  align-items: center;
  justify-content: center;
  @include mixins.background-blur(16px);
  @include mixins.dark-mode() {
    --modal-color-bg: rgb(var(--color-invert-rgb) / 75%);
  }
}

// transition
.modal-enter-active,
.modal-leave-active {
  transition: opacity 200ms ease-out;
}
.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

// set class to global
:global(.mode-modal) {
  overflow: hidden;
}
:global(.mode-modal > body) {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
