@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.item-thumbnail {
  $self: '.item-thumbnail';
  $size: 165px;
  position: relative;
  box-shadow: $shadow-box;
  background-color: #fff;
  border-radius: $size-border-radius;
  min-width: 0;
  &__image {
    position: relative;
    margin: 0;
    height: $size;
    border-top-left-radius: $size-border-radius;
    border-top-right-radius: $size-border-radius;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: rgba(0,0,0,.1);
      transform: scaleY(.5) translateY(.5px);
      pointer-events: none;
    }
  }
  &__body {
    padding: 15px;
  }
  &__metas {
    margin: 2px 0 0;
  }
  &__nav-text {
    margin: 4px 0 0;
  }
  &--link {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      transition: box-shadow .15s ease-out;
      border-radius: $size-border-radius;
    }
    &:hover:after {
      box-shadow: inset 0 0 0 1px var(--color-key);
    }
  }
  @include dark-mode() {
    background-color: $color-dark-content-bg;
  }
}
