.input-url {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
  &__title {
    font-size: 0;
  }
}

.field {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0 8px;
  align-items: center;
}
