.resize-window {
  width: 75vw;
  max-width: 540px;
  form {
    display: grid;
    gap: 40px;
  }
}

.section {
  > h1 {
    margin: 0 0 10px;
    line-height: 1.15;
    font-size: 15px;
  }
}

.input-form {
  --field-label-width: 100px;
}

.input-quality {
  --input-width: 80px;
}
