@use '../../../scss/mixins';

.files {
  position: relative;
  height: 100%;
  padding: 30px 30px 0;
  overflow: auto;
  box-sizing: border-box;
  @include mixins.custom-scrollbar();
  &__header {
    h1 {
      margin: 0;
      font-size: 28px;
      line-height: 1.15;
      font-weight: 800;
      letter-spacing: -.5px;
    }
    p {
      margin: 4px 0 0;
      font-size: 12px;
      line-height: 1.15;
    }
  }
  &__body {
    margin: 36px 0 0;
  }
}

.count {
  margin: 0 0 8px;
  text-align: right;
  font-size: 14px;
}

.index {
  --item-img-ratio: 6/5;
}

.close {
  position: sticky;
  bottom: 36px;
  display: grid;
  justify-content: center;
  margin: 42px 0 0;
}
