@use '../../scss/mixins';

.header {
  display: flex;
  justify-content: space-between;
  background: mixins.mix-alpha(var(--color-blur), 75%);
  h1 {
    margin: 0;
    padding: 0 0 0 16px;
    display: flex;
    align-items: center;
    gap: 0 6px;
    font-size: 16px;
    color: var(--color-base);
    font-weight: 700;
    line-height: 1;
    user-select: none;
    letter-spacing: -.5px;
    --icon-size: 18px;
    --icon-color: var(--color-base);
  }
  nav {
    display: flex;
    gap: 0 1px;
    padding: 4px;
  }
}
