@use '../../scss/mixins';

.file-manager {
  position: relative;
  display: grid;
  grid-template-rows: var(--file-manager-rows, 1fr);
  box-sizing: border-box;
  width: var(--file-manager-width, unset);
  height: var(--file-manager-height, unset);
  min-width: var(--file-manager-min-width, unset);
  min-height: var(--file-manager-min-height, 320px);
  max-width: var(--file-manager-max-width, unset);
  max-height: var(--file-manager-max-height, unset);
  background: var(--color-edge);
}
