@use '../../scss/mixins';

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background: mixins.mix-alpha(var(--color-edge), 100%);
  box-shadow:
    0 2px 24px mixins.mix-alpha(var(--color-base), 20%),
    0 .5px 0 mixins.mix-alpha(var(--color-base), 15%);
  box-sizing: border-box;
  &__column {
    display: flex;
    align-items: center;
    gap: 0 16px;
  }
  &__context {
    --context-width: 160px;
  }
}

.info {
  margin: 0;
  font-size: 12px;
  color: var(--color-weak);
  user-select: none;
  em {
    font-style: normal;
    font-weight: 600;
    color: var(--color-base);
    letter-spacing: -.5px;
  }
}
