@import "../../assets/scss/mixins";

.checklist-items {
  &__body {
    --side-filter-side-top: var(--size-header-height);
    --side-filter-side-width: 160px;
  }
  &__index {
    --index-column: 2;
  }
  .percent {
    margin: 0 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    &__graph {
      --color-stroke-back: var(--color-bg);
    }
    &__value {
      display: block;
      margin: 0;
      font-size: 10px;
      font-style: normal;
      font-family: var(--font-eng-circular);
      color: var(--color-blur);
      line-height: 1;
    }
  }

  @include responsive(desktop-large) {
    &__index {
      --index-column: 3;
    }
  }
}
