@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
@import "../../../form/local";

.editor {
  margin: -20px 0 0;
  &__body {
    textarea {
      display: block;
      min-height: 240px;
      max-height: 480px;
      width: 100%;
      resize: vertical;
      outline: none;
      background-color: var(--color-content-bg);
      box-sizing: border-box;
      padding: 20px;
      font-size: 16px;
      line-height: 1.48;
      color: var(--color-base);
      box-shadow: inset 0 2px 20px rgba(0,0,0,.075);
      border-radius: $size-border-radius;
      border: 1px solid var(--color-content-line);
      &::-webkit-input-placeholder {
        color: $local-color-text-placeholder;
      }
      &:focus {
        box-shadow:
          0 0 0 $size-focus var(--color-key),
          inset 0 2px 3px $local-color-shadow2;
        border-color: transparent;
      }
    }
    > div {
      white-space: pre;
    }
  }
}

.preview {
  $size-width: 950px;

  position: fixed;
  z-index: 90;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 50px 40px;
  box-sizing: border-box;
  background: rgba(#000, .75);
  cursor: zoom-out;
  margin: 0;
  &__wrap {
    cursor: auto;
    position: relative;
    z-index: 2;
    max-width: $size-width;
    margin: 0 auto;
    background: var(--color-bg);
    border-radius: $size-border-radius;
    overflow: hidden;
    padding: 40px 20px;
    box-shadow: 0 1px 10px rgba(#000, .3);
    box-sizing: border-box;
  }

  @include responsive(desktop) {
    &__wrap {
      padding: 40px;
    }
  }
  @include dark-mode() {
    &__wrap {}
  }
}
