@use 'normalize';
@use 'mixins';
@forward 'content-body';
@forward 'keyframes';
@import url('https://assets.redgoose.me/fonts/index.css');

:root {
  color-scheme: light;
  // color
  --color-bg: hsl(210 25% 98%);
  --color-base: hsl(0 0% 13%);
  --color-weak: hsl(0 0% 47%);
  --color-light: hsl(0 0% 100%);
  --color-dark: hsl(0 0% 0%);
  --color-key: hsl(350 70% 41%);
  --color-sub: hsl(26 79% 55%);
  --color-code: hsl(233 100% 66%);
  --color-success: hsl(142 75% 42%);
  --color-error: hsl(0 100% 42%);
  // size
  --size-content-body: 920px;
  --size-content-large: 1440px;
  --size-header-height: 42px;
  --size-side-padding: 60px;
  // font
  --font-base: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --font-eng: 'ortsa', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-console: 'Monaco', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

// global elements
html, body {
  -webkit-text-size-adjust: none;
}
html {
  touch-action: manipulation;
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.54;
  background: var(--color-bg);
  color: var(--color-base);
  min-width: 768px;
}
body, button, input, textarea, select {
  font-family: var(--font-base);
}
a {
  color: var(--color-key);
}
code, kbd, pre, samp {
  font-family: var(--font-console);
}
::selection {
  background: var(--color-key);
  color: var(--color-light);
}

// over size content
.content-over {
  position: relative;
  left: 50%;
  width: calc(100vw - (var(--size-side-padding) * 2));
  max-width: var(--size-content-large);
  translate: -50% 0;
  box-sizing: border-box;
}
