// responsive
@mixin responsive($range)
{
  @if $range == desktop
  {
    @media (min-width: 1024px) { @content; }
  }
  @else if $range == max
  {
    @media (min-width: 1440px) { @content; }
  }
}

// background blur
@mixin background-blur($size: 8px)
{
  @supports (backdrop-filter: blur(#{$size})) or (-webkit-backdrop-filter: blur(#{$size})) {
    backdrop-filter: blur(#{$size});
    -webkit-backdrop-filter: blur(#{$size});
    @content;
  }
}

// gradient
@mixin color-linear-gradient($matt-color, $start, $end, $direction:'vertical')
{
  background: $matt-color;
  @if $direction == 'horizontal'
  {
    background: linear-gradient(to right, #{$start}, #{$end});
  }
  @else
  {
    background: linear-gradient(to bottom, #{$start}, #{$end});
  }
}

// single line text
@mixin single-line-text()
{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;
}

// custom scrollbar
@mixin custom-scrollbar()
{
  --scroll-size: 16px;
  --scroll-padding: 4px;
  --scroll-track: var(--scroll-track, var(--color-weak));
  --scroll-track-hover: #{mix-alpha(var(--color-weak), 65%)};
  --scroll-bg: hsla(0 0% 100% / 0%);
  &::-webkit-scrollbar {
    width: var(--scroll-size);
    height: var(--scroll-size);
  }
  &::-webkit-scrollbar-thumb {
    border: var(--scroll-padding) solid hsla(0 0% 100% / 0%);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--scroll-track, var(--color-weak));
    &:hover {
      background-color: var(--scroll-track-hover);
    }
  }
  &::-webkit-scrollbar-track {
    background: var(--scroll-bg);
  }
}

// focus outline
@mixin focus-outline($animation: true)
{
  outline: none;
  -webkit-tap-highlight-color: transparent;
  @if $animation {
    transition: outline 160ms ease-out;
  }
  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
    @content;
  }
}


// FUNCTIONS

// color-mix with alpha
@function mix-alpha($color, $alpha: 100%)
{
  @return color-mix(in hsl, $color $alpha, transparent);
}
