.comments {
  position: relative;
  &__title {
    margin: 0;
    font-size: 0;
    padding: 0;
  }
  &__index {
    display: grid;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    gap: 20px;
    > li {
      min-width: 0;
    }
  }
}
