@use '../../../../assets/scss/mixins';

.article {
  padding: 20px 0 0;
  &__header {
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    small {
      display: block;
      margin: 0;
      font-family: var(--font-eng);
      font-size: 12px;
      color: var(--color-key);
      font-weight: 700;
      > *:nth-child(n+2):before {
        content: ' / '
      }
    }
    h1 {
      margin: 0;
      font-size: 36px;
      letter-spacing: -1.5px;
      line-height: 1.05;
      font-weight: 700;
      word-break: break-all;
      color: var(--color-edge);
    }
    p {
      margin: 4px 0 0;
      font-family: var(--font-eng);
      font-size: 11px;
      color: var(--color-weak);
      > *:nth-child(n+2):before {
        content: ', '
      }
    }
  }
  &__body {
    margin: 40px 0 60px;
    .redgoose-body {
      min-height: 160px;
    }
  }
  &__files {
    margin: 30px 0 0;
  }
  &__comments {
    margin: 40px 0 0;
  }
  @include mixins.responsive(desktop) {
    &__header {
      position: relative;
      width: calc(100vw - (var(--size-side-padding) * 2));
      transform: translateX(-50%);
      left: 50%;
    }
  }
}
