@import "../assets/scss/variables";
@import "../assets/scss/mixins";

$size-side-max-padding: 50px;
$color-header-bg: #48494b;
$color-header-bg-dark: #151515;
$color-header-menu-text: #eee;

// title
main > h1 {
  margin: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
}

// content area
.content-area {
  padding: 0 $size-side-max-padding;
  @include responsive(desktop-large) {
    max-width: $size-container;
    margin: 0 auto;
  }
}

// header
.header {
  & {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: $color-header-bg;
    height: $size-header-height;
    user-select: none;
  }
  &__wrap {
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 100%;
  }

  &-logo {
    margin: 0 5px 0 -10px;
    height: 100%;
    a {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 10px;
      text-decoration: none;
      font-family: $font-eng-circular;
      font-weight: 600;
      line-height: 1.4;
      letter-spacing: -.5px;
      font-size: 22px;
      color: #fff;
    }
  }
  &-gnb {
    flex: 1;
    height: 100%;
    padding: 0 0 0 5px;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      height: 100%;
    }
    li {
      height: 100%;
    }
    a {
      display: flex;
      padding: 0 15px;
      align-items: center;
      height: 100%;
      text-decoration: none;
      color: $color-header-menu-text;
      font-family: $font-eng-circular;
      font-size: 14px;
      font-weight: 400;
      box-sizing: border-box;
      outline: none;
      &:focus,
      &:hover {
        background: rgba(#000, .15);
      }
      &.nuxt-active {
        background-color: rgba($color-key, .5);
        cursor: default;
      }
    }
  }
  &-nav {
    height: 100%;
    margin: 0 -15px 0 0;
  }

  @include dark-mode() {
    background-color: $color-header-bg-dark;
    &-gnb {
      a {
        &.nuxt-active {
          background-color: rgba($color-dark-key, .5);
        }
      }
    }
  }
}
.dropdown {
  $self: '.dropdown';
  height: 100%;
  &__control {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 15px 0 20px;
    height: 100%;
    font-size: 0;
    background: none;
    border: none;
    border-radius: $size-border-radius;
    transition: background .2s ease-out;
    cursor: default;
    > em {
      display: block;
      padding-right: 10px;
      font-family: $font-eng-circular;
      font-size: 13px;
      font-weight: 200;
      font-style: normal;
      color: $color-header-menu-text;
      text-align: right;
    }
    > svg {
      display: block;
      width: 16px;
      height: 16px;
      color: #fff;
      transition: transform 250ms ease-out;
    }
  }
  &__children {
    position: relative;
    ul {
      right: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: $color-header-bg;
      min-width: 160px;
      position: absolute;
      top: 0;
      opacity: 0;
      pointer-events: none;
      transition: opacity .15s ease-out;
    }
    li {
      border-top: 1px solid rgba(#fff, .15);
    }
    a {
      display: block;
      padding: 8px 20px;
      text-decoration: none;
      font-family: $font-eng-circular;
      color: $color-header-menu-text;
      font-size: .8125rem;
      outline: none;
      &:focus,
      &:hover {
        background: rgba(#000, .15);
      }
      &.nuxt-active {
        background-color: rgba($color-key, .5);
      }
    }
  }
  &:hover,
  &:focus-within {
    #{$self}__control {
      background: rgba(#000, .15);
      > svg {
        transform: rotateX(180deg);
      }
    }
    #{$self}__children {
      > ul {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  @include dark-mode() {
    &__children {
      ul {
        background-color: $color-header-bg-dark;
      }
      li {
        border-color: rgba(#fff, .05);
      }
      a {
        &.nuxt-active {
          background-color: rgba($color-dark-key, .5);
        }
      }
    }
  }
}

// container
.container {
  margin: 30px 0 60px;
}

// footer
.footer {
  margin: 0 0 20px;
  user-select: none;
  address {
    text-align: right;
    font-family: $font-eng-circular;
    font-size: .625rem;
    color: var(--color-blur);
  }
}
