@import "../assets/scss/variables";
@import "../assets/scss/mixins";

$size-side-max-padding: 50px;

// title
main > h1 {
  margin: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
}

// content area
.content-area {
  padding: 0 $size-side-max-padding;
  @include responsive(desktop-large) {
    max-width: $size-container;
    margin: 0 auto;
  }
}

// header
.header {
  --color-header-bg: #{rgba(#888, .95)};
  --color-header-text: #fff;
  --color-header-menu-bg-depth-2: #{rgba(mix(#45464b, #fff, 70%), .9)};
  --color-header-menu-bg-depth-3: #{rgba(mix(#45464b, #fff, 80%), .9)};
  --color-header-menu-line: #{rgba(#fff, .2)};
  --color-header-menu-hover: #{rgba(#000, .1)};
  --color-header-menu-shadow: inset 0 0 30px rgba(0,0,0,.15);
  --color-header-active-menu: #{rgba($color-key, .75)};
  @include dark-mode() {
    --color-header-bg: #{rgba(#191919, .95)};
    --color-header-menu-bg-depth-2: #{rgba(mix(#161619, #fff, 75%), .95)};
    --color-header-menu-bg-depth-3: #{rgba(mix(#161619, #fff, 70%), .95)};
    --color-header-menu-line: #{rgba(#000, .25)};
    --color-header-menu-hover: #{rgba(#000, .15)};
    --color-header-menu-shadow: inset 0 0 30px rgba(0,0,0,.15), 0 0 20px rgba(0,0,0,.25);
    --color-header-active-menu: #{rgba($color-dark-key, .75)};
  }

  & {
    position: sticky;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: var(--color-header-bg);
    height: $size-header-height;
    user-select: none;
    box-shadow: 0 0 10px rgba(#000, .25);
  }
  &__wrap {
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 100%;
  }
  &-logo {
    margin: 0 5px 0 -10px;
    height: 100%;
    a {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 10px;
      text-decoration: none;
      font-family: $font-eng-circular;
      font-weight: 600;
      line-height: 1.4;
      letter-spacing: -.5px;
      font-size: 22px;
      color: var(--color-header-text);
    }
  }
  &-gnb {
    flex: 1;
    height: 100%;
    padding: 0 0 0 5px;
    box-sizing: border-box;
  }
  &-nav {
    height: 100%;
    margin: 0 -20px 0 0;
  }
}

// navigation
.navigation {
  & {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    box-sizing: border-box;
  }
  em {
    display: block;
    font-style: normal;
  }
  svg {
    display: block;
    margin: 0 4px 0 0;
    width: 14px;
    height: 14px;
    stroke-width: 2.4;
    color: var(--color-header-text);
    order: -1;
    &.flip-y {
      transition: transform 250ms ease-out;
      transform-origin: 50% 50%;
    }
    &.dropdown {
      order: 5;
      margin: 0 0 0 2px;
    }
    &.end {
      order: 5;
    }
  }
  a, span {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: $font-eng-circular;
    box-sizing: border-box;
    color: var(--color-header-text);
  }
  a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    &.nuxt-active {
      background-color: rgba($color-key, .75);
      color: #fff;
      svg {
        color: #fff;
      }
    }
  }
  span {
    cursor: default;
  }
  li {
    position: relative;
    transition: background-color 200ms ease-out;
    > div {
      position: relative;
      > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        opacity: 0;
        pointer-events: none;
        min-width: 150px;
        box-sizing: border-box;
        transition: opacity 200ms ease-out;
      }
    }
    &:focus-within, &:hover {
      > a, > span {
        > svg {
          &.flip-y {
            transform: rotateX(180deg);
          }
        }
      }
      > div {
        > ul {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }
  // 1depth
  > li {
    > a, > span {
      font-size: 14px;
      font-weight: 400;
      padding: 0 15px;
      letter-spacing: -.25px;
      > svg {
        &.dropdown {
          margin-right: -2px;
        }
      }
    }
    &:focus-within, &:hover {
      background-color: var(--color-header-menu-hover);
    }
    // sub menus
    li {
      &:nth-child(n+2) {
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          height: 1px;
          background-color: var(--color-header-menu-line);
          transform: scaleY(.5);
          transform-origin: 0 0;
        }
      }
      a, span {
        font-size: 13px;
        padding: 8px 10px 8px 15px;
      }
      em {
        flex: 1;
      }
      svg {
        &.dropdown {
          margin-left: 10px;
          opacity: .5;
        }
      }
      &:focus,
      &:hover {
        background-color: var(--color-header-menu-hover);
      }
    }
    ul {
      box-shadow: var(--color-header-menu-shadow);
    }
    > div {
      // 2depth
      > ul {
        top: 0;
        background-color: var(--color-header-menu-bg-depth-2);
        > li {
          > div {
            position: absolute;
            right: 0;
            top: 0;
            // 3depth
            > ul {
              background-color: var(--color-header-menu-bg-depth-3);
            }
          }
          &:nth-child(n+2) {
            > div {
              > ul {
                top: -15px;
              }
            }
          }
        }
      }
    }
  }
  &--side {
    > li {
      > span, > a {
        > svg {
          margin: 0 0 0 3px;
          width: 16px;
          height: 16px;
          stroke-width: 2;
          order: 1;
        }
      }
      > span {
        font-size: 13px;
        font-weight: 200;
        padding-left: 20px;
        padding-right: 20px;
      }
      > div {
        > ul {
          right: -10px;
        }
      }
    }
  }

  @include dark-mode() {
    a {
      &.nuxt-active {
        background: none;
        color: $color-dark-key;
        svg {
          color: $color-dark-key;
        }
      }
    }
  }
}

// container
.container {
  margin: 30px 0 60px;
}

// footer
.footer {
  margin: 0 0 20px;
  user-select: none;
  address {
    text-align: right;
    font-family: $font-eng-circular;
    font-size: .625rem;
    color: var(--color-blur);
  }
}
