@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.error {
  padding: 80px 0;
  .image {
    margin: 0;
    svg {
      display: block;
      margin: 0 auto;
      width: 128px;
      height: 128px;
      stroke-width: .25px;
    }
  }
  .title {
    margin: 40px 0 0;
    text-align: center;
    font-family: $font-eng-circular;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 42px;
    color: var(--color-key);
    letter-spacing: -1px;
    line-height: 1.15;
  }
  .description {
    margin: 2px 0 0;
    text-align: center;
    font-size: 18px;
    color: var(--color-blur);
    font-family: $font-eng;
    letter-spacing: -.25px;
    font-weight: 200;
  }
  .nav {
    margin: 40px 0 0;
    text-align: center;
  }

}
