.json-code {
  display: block;
  margin: 0;
  padding: 24px;
  box-sizing: border-box;
  background-color: rgb(var(--color-base-rgb) / 5%);
  border-radius: 2px;
  line-height: 1.42;
  font-size: 15px;
  font-family: var(--font-console);
}
