@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.checklist {
  &__wrap {
    //padding: 16px 0 0;
  }
  &__date {
    display: block;
    margin: 0;
    padding: 16px 0;
    font-size: 16px;
    letter-spacing: -.5px;
    text-align: center;
    font-weight: 600;
    line-height: 1.15;
    background-color: var(--color-content-bg);
  }
  &__body {
    margin: 30px 0 60px;
  }
  &__header-button {
    --button-icon-unit-size: 16px;
  }
  &__progress {
    position: sticky;
    bottom: 30px;
    margin: 0 auto;
  }
}
