.dashboard {
	&__section {
		margin: 50px 0 0;
		&:first-child {
			margin-top: 0;
		}
		header {
			display: flex;
			align-items: center;
			margin: 0 0 15px;
			h3 {
				flex: 1;
				margin: 0;
				padding: 0 0 0 2px;
				font-size: 1.5rem;
				font-weight: 600;
				line-height: 1;
			}
			nav {
				margin-right: 0;
				a {
					display: block;
					padding: 5px;
					font-size: 0;
				}
			}
		}
	}
	&__error {
		padding: 30px 0;
	}
}
