@use '../../../assets/scss/mixins';

.attachment {
  position: relative;
  aspect-ratio: 1 / 1;
  background: rgb(var(--color-base-rgb) / 10%);
  &__button {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    border-radius: 2px;
    overflow: hidden;
    @include mixins.button-touch-options(false);
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      box-shadow: inset 0 0 0 1px rgb(var(--color-invert-rgb) / 15%);
      pointer-events: none;
      border-radius: 2px;
      transition: box-shadow 120ms ease-out;
    }
    > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 200ms ease-out;
    }
    > span {
      display: grid;
      align-content: center;
      height: 100%;
      box-sizing: border-box;
      text-align: center;
      padding: 12px 16px;
      svg {
        display: block;
        margin: 0 auto;
        --icon-size: 24px;
        --icon-stroke-width: 1;
      }
      strong {
        display: block;
        margin: 10px 0 0;
        font-size: 10px;
        line-height: 1.15;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      em {
        display: block;
        margin: 4px 0 0;
        font-style: normal;
        font-size: 10px;
        font-weight: 400;
        color: var(--color-weak);
      }
    }
  }
  &__context {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
    transition: opacity 200ms ease-out, transform 250ms ease-out;
    transform: translateY(5px);
    z-index: 2;
    > button {
      display: block;
      width: 32px;
      height: 32px;
      background-color: var(--color-invert);
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      border-radius: 2px;
      cursor: pointer;
      font-size: 0;
      box-shadow: 0 0 4px 2px rgb(var(--color-base-rgb) / 30%);
      @include mixins.button-touch-options(false);
      svg {
        display: block;
        margin: 0 auto;
        --icon-size: 20px;
        --icon-stroke-width: 2.4;
      }
    }
    ul {
      position: absolute;
      right: -6px;
      margin: 0;
      padding: 0;
      list-style: none;
      background: #fff;
      box-sizing: border-box;
      min-width: 120px;
      box-shadow: 0 2px 8px rgb(var(--color-base-rgb) / 40%);
      border-radius: 2px;
      pointer-events: none;
      opacity: 0;
      transition: opacity 200ms ease-out;
      li {
        &:nth-child(n+2) {
          border-top: 1px solid rgb(var(--color-base-rgb) / 15%);
        }
      }
      button {
        display: block;
        width: 100%;
        white-space: nowrap;
        text-align: left;
        margin: 0;
        padding: 10px 20px 10px 12px;
        background: none;
        border: none;
        outline: none;
        font-size: 12px;
        cursor: pointer;
        @include mixins.button-touch-options(false);
        &:active,
        &:hover {
          background-color: rgb(var(--color-base-rgb) / 8%);
        }
        &.color-error {
          color: var(--color-error);
        }
      }
    }
    &:hover {
      > button {
        cursor: default;
      }
      ul {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }
  &:hover {
    .attachment {
      &__button {
        > img {
          transform-origin: 50% 50%;
          transform: scale(1.05, 1.05);
        }
      }
      &__context {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &--selected {
    .attachment {
      &__button {
        &:after {
          box-shadow: inset 0 0 0 5px rgb(var(--color-key-rgb) / 100%);
        }
      }
    }
  }
}
