@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
@import "./local";

$self: '.form-checkbox';
$base-inner-shadow: inset 0 -5px 10px;

.form-checkbox {
  & {
    position: relative;
    display: block;
    font-size: 0;
  }
  > input {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  &__body {
    display: block;
    position: relative;
    width: $local-check-size;
    height: $local-check-size;
    border: 1px solid $local-check-color-border;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: $local-check-color-bg;
    box-shadow: $base-inner-shadow $local-check-color-shadow-inner;
    transition: box-shadow 120ms ease-out;
  }
  &__icon {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: $local-check-size - 4px;
    height: $local-check-size - 4px;
    stroke-width: 3px;
    color: var(--color-key);
    transition: transform 240ms ease-out;
    transition-timing-function: cubic-bezier(.35,1.9,.68,1.05);
  }

  // status event
  > input {
    &:focus {
      & + #{$self}__body {
        box-shadow:
          $base-inner-shadow $local-check-color-shadow-inner,
          0 0 0 $size-focus $local-color-shadow1;
        border-color: transparent;
      }
    }
    &:active {
      & + #{$self}__body {
        box-shadow: $base-inner-shadow $local-check-color-shadow-inner-active;
      }
    }
    &:checked {
      & + #{$self}__body {
        > svg {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    &:disabled {
      cursor: not-allowed;
      & + #{$self}__body {
        opacity: $local-disabled-opacity;
      }
    }
  }

  // size
  &--size {
    &-small {
      #{$self}__body {
        width: $local-check-size-small;
        height: $local-check-size-small;
      }
      #{$self}__icon {
        width: $local-check-size-small - 2px;
        height: $local-check-size-small - 2px;
      }
    }
    &-large {
      #{$self}__body {
        width: $local-check-size-large;
        height: $local-check-size-large;
      }
      #{$self}__icon {
        width: $local-check-size-large - 4px;
        height: $local-check-size-large - 4px;
      }
    }
  }

  // dark mode
  @include dark-mode() {
    &__body {
      border-color: $local-check-color-dark-border;
      background-color: $local-check-color-dark-bg;
      box-shadow: inset -2px -5px 10px $local-check-color-dark-shadow-inner;
    }
    > input {
      &:focus {
        & + #{$self}__body {
          box-shadow:
            inset 0 -5px 10px $local-check-color-dark-shadow-inner,
            0 0 0 $size-focus $local-color-dark-shadow1;
        }
      }
      &:active {
        & + #{$self}__body {
          box-shadow: inset 0 -5px 15px $local-check-color-dark-shadow-inner-active;
        }
      }
    }
  }
}
