@use '../../../assets/scss/mixins';

.verify-items {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 8px;
}

.verify-item {
  display: flex;
  align-items: center;
  box-shadow:
    var(--item-shadow-1, 0 0 0 1px rgb(0 0 0 / 5%)),
    var(--item-shadow-2, 0 2px 16px rgb(0 0 0 / 15%));
  padding: 0;
  border-radius: var(--size-radius);
  transition: box-shadow 150ms ease-out;
  min-width: 0;
  &__asset {
    width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1;
    margin: 0;
    user-select: none;
    a {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-top-left-radius: var(--size-radius);
      border-bottom-left-radius: var(--size-radius);
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    span {
      display: grid;
      width: 100%;
      height: 100%;
      place-content: center;
      background: hsl(var(--color-light-hsl) / 100%);
      --icon-color: var(--color-weak);
      --icon-size: 28px;
      --icon-stroke: 1.25;
    }
  }
  &__body {
    flex: 1;
    padding: 0 20px 0 16px;
    min-width: 0;
    h4 {
      margin: 0;
      font-size: 15px;
      line-height: 1.05;
      letter-spacing: -.25px;
      word-break:keep-all;
      overflow-wrap:break-word;
    }
    p {
      margin: 2px 0 0;
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      color: var(--color-weak);
      font-size: 12px;
      line-height: 1.05;
      span {
        &:after {
          content: ',';
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  &__nav {
    padding: 0 20px 0 0;
    button {
      display: block;
      margin: 0 auto;
      padding: 12px;
      border: none;
      background: none;
      @include mixins.button-touch-options(true);
      .icon {
        display: block;
        margin: 0 auto;
        --icon-size: 22px;
        --icon-stroke: 1.5;
        --icon-color: var(--color-key);
      }
    }
  }
}

.verify-empty {
  display: grid;
  place-content: center;
  height: calc(100% - 100px);
  box-sizing: border-box;
  p {
    margin: 0;
    font-size: 14px;
    color: var(--color-weak);
    line-height: 1.05;
    user-select: none;
  }
}
