@use '../../assets/scss/mixins';

.apps {
  display: grid;
  gap: 42px;
}

.app {
  &__title {
    margin: 0;
    font-size: 16px;
    line-height: 1.05;
    letter-spacing: -.5px;
    font-weight: 700;
    em {
      font-style: normal;
      &:nth-child(1) {
        &:before { content: '['; }
        &:after { content: '] '; }
      }
      &:nth-child(3) {
        &:before { content: '('; }
        &:after { content: ')'; }
      }
    }
    strong {
      font-weight: 700;
    }
  }
  &__description {
    margin: 4px 0 0;
    line-height: 1.15;
    font-size: 11px;
    color: var(--color-weak);
  }
  &__nests {
    margin-top: 16px;
  }
}

.nests-empty {
  display: grid;
  align-content: center;
  margin: 16px 0 0;
  border-radius: 2px;
  height: 120px;
  user-select: none;
  background: rgb(255 255 255);
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 20px rgb(0 0 0 / 10%);
  strong {
    display: block;
    margin: 0 auto;
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 300;
    color: var(--color-weak);
  }
  @include mixins.dark-mode() {
    background: rgb(32 32 32);
  }
}
