@use '../assets/scss/mixins';

// header
.layout-header {
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: var(--header-color-bg, rgb(128 128 128 / 80%));
  height: var(--size-header-height, 42px);
  user-select: none;
  box-shadow: 0 0 10px rgb(0 0 0 / 25%);
  padding: 0 var(--size-side-padding);
  @include mixins.background-blur(8px);
  &__wrap {
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    max-width: var(--size-content-body);
  }
  &__logo {
    margin: 0;
    height: 100%;
    a {
      display: flex;
      height: 100%;
      align-items: center;
      margin: 0 0 0 -16px;
      padding: 0 16px;
      text-decoration: none;
      font-family: var(--font-eng);
      font-weight: 600;
      font-size: 22px;
      line-height: 1;
      color: var(--header-color-logo, var(--color-invert));
      box-sizing: border-box;
      transition: opacity 100ms ease-out;
      &:active {
        opacity: .5;
      }
    }
  }
  &__gnb {
    flex: 1;
    height: 100%;
    padding: 0 0 0 5px;
    box-sizing: border-box;
  }
  &__side {
    height: 100%;
    margin-right: -16px;
    .navigation {
      ol {
        left: unset;
        right: 0;
      }
    }
  }
  @include mixins.dark-mode() {
    --header-color-bg: rgb(25 25 25 / 95%);
    --header-color-logo: rgb(255 255 255);
  }
}

// navigation
.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  box-sizing: border-box;
  > li {
    position: relative;
    > a, > span {
      display: flex;
      align-items: center;
      height: 100%;
      box-sizing: border-box;
      color: var(--color-invert);
      outline: none;
      font-size: 14px;
      line-height: 1;
      padding: 8px 14px;
      transition: background-color 200ms ease-out;
      em {
        display: block;
        font-style: normal;
      }
      .ico-arrow {
        display: block;
        margin: 0 -4px 0 4px;
        --icon-size: 18px;
        transition: transform 200ms ease-out
      }
      .ico-custom {
        display: block;
        --icon-size: 16px;
        &:first-child {
          margin: 0 6px 0 0;
        }
      }
    }
    > a {
      cursor: pointer;
      text-decoration: none;
      &.router-link-active {
        background-color: rgb(var(--color-key-rgb) / 100%);
      }
    }
    > span {
      cursor: default;
    }
    > div {
      position: relative;
      display: none;
    }
    &:hover {
      > a:not(.router-link-active), > span {
        background-color: rgb(0 0 0 / 10%);
        .ico-arrow {
          transform: rotateX(180deg);
        }
      }
      > div {
        display: block;
      }
    }
  }
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    min-width: 150px;
    box-sizing: border-box;
    left: 0;
    top: 0;
    background-color: rgb(86 86 86 / 90%);
    @include mixins.background-blur(8px);
    > li {
      position: relative;
      transition: background-color 200ms ease-out;
      &:nth-child(n+2) {
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          height: 1px;
          background-color: rgb(255 255 255 / 20%);
          transform-origin: 0 0;
          transform: scaleY(.5);
        }
      }
      > a, > span, > button {
        display: flex;
        align-items: center;
        height: 40px;
        font-size: 13px;
        font-weight: 500;
        padding: 0 16px;
        letter-spacing: -.25px;
        box-sizing: border-box;
        color: rgb(var(--color-invert-rgb) / 100%);
        transition: background-color 150ms ease-out;
        em {
          display: block;
          font-style: normal;
          white-space: nowrap;
        }
        .ico-custom {
          display: block;
          margin: 0 8px 0 0;
          --icon-size: 16px;
          --icon-stroke: 2;
        }
        &:hover {
          background-color: rgb(0 0 0 / 10%);
        }
      }
      > a {
        text-decoration: none;
        cursor: pointer;
        &.router-link-active {
          background-color: rgb(var(--color-key-rgb) / 75%);
        }
      }
      > button {
        width: 100%;
        text-align: left;
        border: none;
        background: none;
        appearance: none;
        @include mixins.button-touch-options(false);
      }
    }
  }
  @include mixins.dark-mode() {
    > li {
      > a, > span {
        color: rgb(255 255 255 / 90%);
      }
      > a {
        &.router-link-active {
          background-color: rgb(var(--color-key-rgb) / 100%);
          //color: red;
        }
      }
      &:hover {
        > a:not(.router-link-active), > span {
          background-color: rgb(255 255 255 / 5%);
        }
      }
    }
    ol {
      background-color: rgb(60 60 60 / 95%);
      > li {
        &:nth-child(n+2) {
          &:before {
            background-color: rgb(0 0 0 / 25%);
          }
        }
        > a, > span, > button {
          color: rgb(200 200 200 / 100%);
          &:hover {
            background-color: rgb(0 0 0 / 15%);
          }
        }
        > a {
          &.router-link-active {
            background-color: rgb(var(--color-key-rgb) / 100%);
            color: hsl(0 0% 100%);
          }
        }
      }
    }
  }
}

// container
.container {
  margin: 40px 0 60px;
  padding: 0 var(--size-side-padding);
  &__wrap {
    max-width: var(--size-content-body);
    margin: 0 auto;
  }
}

// footer
.layout-footer {
  margin: 0;
  padding: 0 var(--size-side-padding) 16px;
  user-select: none;
  text-align: right;
  &__wrap {
    max-width: var(--size-content-body);
    margin: 0 auto;
  }
  &__address {
    font-family: var(--font-eng);
    font-size: 11px;
    color: var(--color-weak);
  }
}
