@use '../../../assets/scss/mixins';

.files {
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  --files-header-height: 48px;
  --files-footer-height: 58px;
}

.files-header {
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-shape-bg);
  height: var(--files-header-height, 48px);
  padding: 0 16px;
  box-shadow: 0 2px 12px hsla(0 0% 0% / 15%), 0 .5px 0 hsla(0 0% 0% / 10%);
  &__left {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  @include mixins.dark-mode() {
    box-shadow: 0 1px 12px 0 hsla(0 0% 0% / 30%), 0 .5px 0 hsla(0 0% 100% / 20%);
  }
}

.files-total {
  margin: 0;
  color: var(--color-weak);
  font-size: 13px;
  user-select: none;
  line-height: 1.15;
  em {
    font-style: normal;
    font-weight: 600;
    color: var(--color-base);
  }
}

.files-footer {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--files-footer-height, 58px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background: var(--color-bg);
  box-shadow: 0 -2px 12px hsla(0 0% 0% / 15%), 0 -.5px 0 hsla(0 0% 0% / 10%);
  > * {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  @include mixins.dark-mode() {
    box-shadow: 0 -2px 12px 0 hsla(0 0% 0% / 30%), 0 -.5px 0 hsla(0 0% 100% / 20%);
  }
}

.files-loading {
  --loading-width: 100%;
  --loading-height: auto;
}

.files-forms {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
}

.dropdown {
  position: relative;
  &__context {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      left: 0;
      bottom: 0;
      min-width: 180px;
      opacity: 0;
      transition: opacity 200ms ease-out;
      transition-delay: 120ms;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 2px;
      background: rgb(255 255 255);
      box-shadow: 0 1px 12px rgb(var(--color-base-rgb) / 15%), 0 0 0 1px rgb(var(--color-base-rgb) / 10%);
    }
    li {
      &:nth-child(n+2) {
        border-top: 1px solid rgb(var(--color-base-rgb) / 10%);
      }
    }
    button {
      display: block;
      width: 100%;
      margin: 0;
      padding: 12px 20px;
      text-align: left;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-sizing: border-box;
      font-size: 14px;
      color: var(--color-base);
      @include mixins.button-touch-options(false);
      transition: background-color 120ms ease-out;
      &:hover,
      &:active {
        background-color: rgb(var(--color-base-rgb) / 5%);
      }
    }
  }
  &:hover {
    .dropdown__button:not([disabled]) + .dropdown__context {
      pointer-events: auto;
      ul {
        opacity: 1;
      }
    }
  }
  &--left {
    .dropdown {
      &__context {
        left: 0;
        ul {
          left: -4px;
        }
      }
    }
  }
  &--right {
    .dropdown {
      &__context {
        left: unset;
        right: 0;
        ul {
          left: unset;
          right: -4px;
        }
      }
    }
  }

  @include mixins.dark-mode() {
    &__context {
      ul {
        background: rgb(36 36 36);
        box-shadow: 0 2px 8px rgb(0 0 0 / 30%), 0 0 0 1px rgb(60 60 60);
      }
      button {
        &:hover,
        &:active {
          background-color: rgb(0 0 0 / 10%);
        }
      }
    }
  }
}
