@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
@import "../../../form/local";

$height: 26px;
$form-focus-shadow: 0 0 0 2px var(--color-key);

.form-search {
  padding: 0;
  margin: 0;
  height: $height;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid $local-color-line;
  border-radius: $size-border-radius;
  background: var(--color-content-bg);

  &__select {
    display: block;
    position: relative;
    height: 100%;
    border-radius: $size-border-radius;
    transition: box-shadow 120ms ease-out;
    &:focus-within {
      box-shadow: $form-focus-shadow;
    }
    &:before {
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background: rgba($local-color-line, .5);
    }
    > select {
      display: block;
      height: 100%;
      background: none;
      -webkit-appearance: none;
      font-size: 12px;
      padding: 0 20px 0 8px;
      border: none;
      border-radius: 0;
      outline: none;
    }
    > svg {
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      width: 10px;
      height: 10px;
      pointer-events: none;
    }
  }
  &__keyword {
    display: block;
    background: none;
    padding: 0 10px;
    height: 100%;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: $size-border-radius;
    transition: box-shadow 120ms ease-out;
    color: var(--color-base);
    &:focus {
      box-shadow: $form-focus-shadow;
    }
  }
  &__clear {
    position: relative;
    display: block;
    background: none;
    border: none;
    width: $height;
    height: 100%;
    cursor: pointer;
    outline: none;
    padding: 0;
    border-radius: $size-border-radius;
    transition: box-shadow 120ms ease-out;
    &:before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background: rgba($local-color-line, .5);
    }
    &:focus {
      box-shadow: $form-focus-shadow;
    }
    svg {
      width: 12px;
      height: 12px;
      stroke-width: 3px;
      margin: 0 auto;
      transform-origin: 50% 50%;
      color: var(--color-base);
    }
    &[disabled] {
      cursor: not-allowed;
      opacity: .25;
    }
  }
  &__submit {
    position: relative;
    display: block;
    background: none;
    border: none;
    width: $height;
    height: 100%;
    cursor: pointer;
    outline: none;
    padding: 0;
    border-radius: $size-border-radius;
    transition: box-shadow 120ms ease-out;
    &:before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background: rgba($local-color-line, .5);
    }
    &:focus {
      box-shadow: $form-focus-shadow;
    }
    svg {
      width: 12px;
      height: 12px;
      stroke-width: 3px;
      margin: 0 auto;
      transform-origin: 50% 50%;
      color: var(--color-base);
      &:nth-child(1) {
        display: block;
      }
      &:nth-child(2) {
        display: none;
      }
    }
    &[disabled] {
      cursor: not-allowed;
      svg {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
          @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
          @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
          @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
          animation:spin 2s linear infinite;
        }
      }
    }
  }

  @include dark-mode() {
    border-color: $local-color-dark-line;
    &__select {

    }
  }
}
