@use '../../assets/scss/mixins';

.input {
  position: relative;
  display: block;
  width: var(--input-width, 100%);
  height: var(--input-height, 38px);
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  padding: var(--input-padding, 0 12px);
  background: var(--input-bg, rgb(255 255 255));
  color: var(--input-text-color, var(--color-base));
  box-shadow:
    var(--input-shadow-1, inset 0 1px 6px rgb(0 0 0 / 15%)),
    var(--input-shadow-2, 0 0 0 1px rgb(180 180 180 / 100%)),
    var(--input-shadow-3, 0 0 0 4px rgb(0 0 0 / 0%));
  font-size: var(--input-text-size, 15px);
  transition: box-shadow 150ms ease-out;
  &::-webkit-input-placeholder {
    color: var(--input-placeholder, rgb(150 150 150 / 100%));
  }
  &:read-only {
    background: var(--input-readonly, rgb(232 232 232));
  }
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
  &:focus:not([disabled]) {
    outline: 0;
    --input-shadow-1: inset 0 1px 6px rgb(0 0 0 / 15%);
    --input-shadow-2: 0 0 0 1px var(--color-key);
    --input-shadow-3: 0 0 0 4px rgb(0 0 0 / 8%);
  }

  // size
  &--size {
    &-small {
      --input-height: 28px;
      --input-text-size: 13px;
      --input-padding: 0 12px;
    }
  }

  // error
  &--error {
    --input-shadow-1: inset 0 1px 6px rgb(0 0 0 / 15%);
    --input-shadow-2: 0 0 0 1px var(--color-error);
    --input-shadow-3: 0 0 0 4px rgb(0 0 0 / 0%);
  }

  // extra
  &[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 6px;
    margin: 0;
  }

  @include mixins.dark-mode() {
    color-scheme: dark;
    --input-bg: rgb(57 57 57);
    --input-shadow-1: inset 0 1px 10px rgb(0 0 0 / 15%);
    --input-shadow-2: 0 0 0 1px rgb(120 120 120 / 100%);
    --input-shadow-3: 0 0 0 4px rgb(0 0 0 / 0%);
    --input-placeholder: rgb(120 120 120 / 100%);
    --input-readonly: rgb(38 38 38);
    &--error {
      --input-shadow-1: inset 0 1px 6px rgb(0 0 0 / 15%);
      --input-shadow-2: 0 0 0 1px var(--color-error);
    }
  }
}
