@use '../../assets/scss/mixins';

.radio {
  position: relative;
  display: block;
  font-size: 0;
  i {
    display: block;
    position: relative;
    width: var(--radio-size, 20px);
    height: var(--radio-size, 20px);
    box-sizing: border-box;
    border-radius: 50%;
    background-color: var(--radio-bg, rgb(222 222 222));
    box-shadow: var(--radio-shadow, inset 0 -2px 5px rgb(0 0 0 / 10%), 0 0 0 0 rgb(var(--color-key-rgb) / 0%), inset 0 0 0 1px rgb(0 0 0 / 20%));
    transition: box-shadow 120ms ease-out;
    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform-origin: 50% 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 50ms ease-out;
      background: var(--color-key);
      box-shadow: inset 0 2px 6px rgb(var(--color-sub-rgb) / 75%);
      width: var(--radio-point-size, 12px);
      height: var(--radio-point-size, 12px);
      border-radius: 50%;
    }
  }
  input {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    &:active,
    &:focus {
      & + i {
        --radio-shadow: inset 0 -2px 5px rgb(0 0 0 / 10%), 0 0 0 3px rgb(var(--color-key-rgb) / 30%), inset 0 0 0 1px var(--color-key)
      }
    }
    &:checked {
      & + i:after {
        transform: translate(-50%,-50%) scale(1);
        transition: transform 180ms cubic-bezier(.35, 1.9, .68, 1.05);
      }
    }
    &:disabled {
      cursor: not-allowed;
      & + i {
        opacity: .5;
      }
    }
  }

  // size
  &--size {
    &-small {
      --radio-size: 16px;
      --radio-point-size: 10px;
    }
    &-large {
      --radio-size: 24px;
      --radio-point-size: 16px;
    }
  }
}
