@use '../../assets/scss/mixins';

.textarea {
  display: block;
  width: 100%;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  height: var(--textarea-height, auto);
  padding: var(--textarea-padding, 12px);
  background: var(--textarea-bg, rgb(255 255 255));
  color: var(--textarea-text-color, var(--color-base));
  box-shadow: var(--textarea-shadow, inset 0 1px 6px rgb(0 0 0 / 15%), 0 0 0 1px rgb(180 180 180), 0 0 0 4px rgb(0 0 0 / 0));
  font-size: var(--textarea-text-size, 15px);
  line-height: 1.42;
  transition: box-shadow 150ms ease-out;
  &::-webkit-input-placeholder {
    color: var(--textarea-placeholder, rgb(150 150 150));
  }
  &:read-only {
    --textarea-bg: rgb(240 240 240);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
  &:focus:not([disabled]) {
    outline: 0;
    --textarea-shadow: inset 0 1px 6px rgb(0 0 0 / 15%), 0 0 0 1px var(--color-key), 0 0 0 4px rgb(0 0 0 / 8%);
  }

  // size
  &--size {
    &-small {
      --textarea-text-size: 13px;
      --textarea-padding: 8px 12px;
    }
  }

  // error
  &--error {
    --textarea-shadow: inset 0 1px 6px rgb(0 0 0 / 15%), 0 0 0 1px var(--color-error), 0 0 0 4px rgb(var(--color-error-rgb) / 0);
    &:focus:not([disabled]) {
      --textarea-shadow: inset 0 1px 6px rgb(0 0 0 / 15%), 0 0 0 1px var(--color-error), 0 0 0 4px rgb(var(--color-error-rgb) / 8%);
    }
  }
}
